<div id="viewFix">
  <div id="toPdf100Fix">
    <img src="{{imgSrcFix}}" id="imgPdf100Fix"/>


    <div id="pdfForFix" >
      <p id="pdfTxtFix">
        <s id="largeTxtFix" [style.font-size]="arrayFontSize[0] + '%'" [style.color]="arrayFontColor[0]">
          {{title}}
        </s>
        <br/>
        <br/>
        <s id="sForFix" [style.font-size]="arrayFontSize[2] + '%'" [style.color]="arrayFontColor[2]">
          {{forWho}}
        </s>
        <br/>
        <s id="txtForWhatFix" [style.font-size]="arrayFontSize[4] + '%'" [style.color]="arrayFontColor[4]">
          <br/>
          {{forWhat}}
        </s>
      </p>
      <div class="signature" id="signFix">
        <p id="leftFix" [style.font-size]="arrayFontSize[1] + '%'" [style.color]="arrayFontColor[1]">
          {{sign1}}
          <br/>
          ................
        </p>
        <p id="rightFix" [style.font-size]="arrayFontSize[1] + '%'" [style.color]="arrayFontColor[1]">
          {{sign2}}
          <br/>
          .......................
        </p>
        <p id="smallTxtFix" [style.font-size]="arrayFontSize[3] - 20 + '%'" [style.color]="arrayFontColor[3]">
          {{footer}}
        </p>
      </div>
    </div>
  </div>
</div>
<div id="create" xmlns="">
  <button id="btnGeneratePdf" (click)="generatePdf()">Generuj Dyplomik!</button>
  <div id="bcgContainter">
    <h1>Wybierz tło dyplomu</h1>
    <div class="scroll">
      <div *ngFor="let tmp of bcgTemp; let i = index" class="bcg" id="bcg{{i + 1}}" (click)="takeBcg('#fff9b6' , i, 15, 15, 15, 0)">
        <img id="img{{i}}" src="{{tmp}}"  />
      </div>
    </div>
  </div>
  <div id="txtContainter">
    <h1>Wpisz dane</h1>
    <p><b>Nazwa: </b></p>
    <!-- 0 -->
    <input class="input" [value]="title" (input)="title = $event.target.value" >
    <p>
      <button type="button"  (click)="isCollapsed[0] = !isCollapsed[0]"
              [attr.aria-expanded]="!isCollapsed[0]" aria-controls="collapseExample">
        Więcej opcji
      </button>
    </p>
    <div [ngbCollapse]="isCollapsed[0]">
      <div class="card">
        <div class="card-body">
          <input type="range" min="0" max="400" [value]="arrayFontSize[0]" (input)="arrayFontSize[0] = $event.target.value" class="sliderInput" step="10" (click)="setPadding()">
          <br />
          <input type="color" [value]="arrayFontColor[0]" (input)="arrayFontColor[0] = $event.target.value" >
          <br />
          <div class="fontCont">
            <div class="fnt fnt1" (click)="takeFontForEle('Abril Fatface', 0)">
              <h1>Dyplom</h1>
            </div>
            <div class="fnt fnt2" (click)="takeFontForEle('Aladin', 0)">
              <h1>Dyplom</h1>
            </div>
            <div class="fnt fnt3" (click)="takeFontForEle('Allura', 0)">
              <h1>Dyplom</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p><b>Dla kogo: </b></p>
    <!-- 2 -->
    <textarea class="input" [value]="forWho" (input)="forWho = $event.target.value"> </textarea>
    <p>
      <button type="button"  (click)="isCollapsed[1] = !isCollapsed[1]"
              [attr.aria-expanded]="!isCollapsed[1]" aria-controls="collapseExample">
        Więcej opcji
      </button>
    </p>
    <div [ngbCollapse]="isCollapsed[1]">
      <div class="card">
        <div class="card-body">
          <input type="range" min="0" max="400" [value]="arrayFontSize[2]" (input)="arrayFontSize[2] = $event.target.value" class="sliderInput" step="10" (click)="setPadding()">
          <br />
          <input type="color" [value]="arrayFontColor[2]" (input)="arrayFontColor[2] = $event.target.value" >
          <br />
          <div class="fontCont">
            <div class="fnt fnt1" (click)="takeFontForEle('Abril Fatface', 1)">
              <h1>Dyplom</h1>
            </div>
            <div class="fnt fnt2" (click)="takeFontForEle('Aladin', 1)">
              <h1>Dyplom</h1>
            </div>
            <div class="fnt fnt3" (click)="takeFontForEle('Allura', 1)">
              <h1>Dyplom</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p><b>Za co:</b></p>
    <!-- 4 -->
    <textarea class="input" [value]="forWhat" (input)="forWhat = $event.target.value"> </textarea>
    <p>
      <button type="button"  (click)="isCollapsed[2] = !isCollapsed[2]"
              [attr.aria-expanded]="!isCollapsed[2]" aria-controls="collapseExample">
        Więcej opcji
      </button>
    </p>
    <div [ngbCollapse]="isCollapsed[2]">
      <div class="card">
        <div class="card-body">
          <input type="range" min="0" max="400" [value]="arrayFontSize[4]" (input)="arrayFontSize[4] = $event.target.value" class="sliderInput" step="10">
          <br />
          <input type="color" [value]="arrayFontColor[4]" (input)="arrayFontColor[4] = $event.target.value" >
          <br />
          <div class="fontCont">
            <div class="fnt fnt1" (click)="takeFontForEle('Abril Fatface', 2)">
              <h1>Dyplom</h1>
            </div>
            <div class="fnt fnt2" (click)="takeFontForEle('Aladin', 2)">
              <h1>Dyplom</h1>
            </div>
            <div class="fnt fnt3" (click)="takeFontForEle('Allura', 2)">
              <h1>Dyplom</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p><b>Stopka</b></p>
    <!-- 3 -->
    <input class="input" [value]="footer" (input)="footer = $event.target.value">
    <p>
      <button type="button"  (click)="isCollapsed[3] = !isCollapsed[3]"
              [attr.aria-expanded]="!isCollapsed[3]" aria-controls="collapseExample">
        Więcej opcji
      </button>
    </p>
    <div [ngbCollapse]="isCollapsed[3]">
      <div class="card">
        <div class="card-body">
          <input type="range" min="0" max="400" [value]="arrayFontSize[3]" (input)="arrayFontSize[3] = $event.target.value" class="sliderInput" step="10">
          <br />
          <input type="color" [value]="arrayFontColor[3]" (input)="arrayFontColor[3] = $event.target.value" >
          <br />
          <div class="fontCont">
            <div class="fnt fnt1" (click)="takeFontForEle('Abril Fatface', 3)">
              <h1>Dyplom</h1>
            </div>
            <div class="fnt fnt2" (click)="takeFontForEle('Aladin', 3)">
              <h1>Dyplom</h1>
            </div>
            <div class="fnt fnt3" (click)="takeFontForEle('Allura', 3)">
              <h1>Dyplom</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p><b>Podpisy:</b></p>
    <!-- 1 -->
    <input class="input signTxt" [value]="sign1" (input)="sign1 = $event.target.value">
    <input class="input signTxt" [value]="sign2" (input)="sign2 = $event.target.value">
    <p>
      <button type="button"  (click)="isCollapsed[4] = !isCollapsed[4]"
              [attr.aria-expanded]="!isCollapsed[4]" aria-controls="collapseExample">
        Więcej opcji
      </button>
    </p>
    <div [ngbCollapse]="isCollapsed[4]">
      <div class="card">
        <div class="card-body">
          <input type="range" min="0" max="400" [value]="arrayFontSize[1]" (input)="arrayFontSize[1] = $event.target.value" class="sliderInput" step="10">
          <br />
          <input type="color" [value]="arrayFontColor[1]" (input)="arrayFontColor[1] = $event.target.value" >
          <br />
          <div class="fontCont">
            <div class="fnt fnt1" (click)="takeFontForEle('Abril Fatface', 4)">
              <h1>Dyplom</h1>
            </div>
            <div class="fnt fnt2" (click)="takeFontForEle('Aladin', 4)">
              <h1>Dyplom</h1>
            </div>
            <div class="fnt fnt3" (click)="takeFontForEle('Allura', 4)">
              <h1>Dyplom</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fontContainter">
    <h1>Wybierz czcionkę</h1>
    <div class="fnt" id="font1" (click)="takeFont('Abril Fatface')">
      <h1>Dyplom</h1>
    </div>
    <div class="fnt" id="font2" (click)="takeFont('Aladin')">
      <h1>Dyplom</h1>
    </div>
    <div class="fnt" id="font3" (click)="takeFont('Allura')">
      <h1>Dyplom</h1>
    </div>
  </div>
  <div id="detailsContainer">
    <h1>Dopracuj detale</h1>
    <br />
    <button (click)="setPaddingFix()"> Zastosuj</button>
    <div class="inputContainer">
      <div class="inputLeft">
        <p>Górny margines: </p>
        <input type="range" min="0" max="50" [value]="paddingTop" (input)="paddingTop = $event.target.value" class="slider50">
      </div>
      <div class="inputRight">
        <p>Dolny margines: </p>
        <input type="range" min="0" max="50" [value]="bottom" (input)="bottom = $event.target.value" class="slider50">
      </div>
    </div>
    <div class="inputContainer">
      <div class="inputLeft">
        <p>Lewy margines: </p>
        <input type="range" min="0" max="50" [value]="marginLeft" (input)="marginLeft = $event.target.value" class="slider50">
      </div>
      <div class="inputRight">
        <p>Prawy margines: </p>
        <input type="range" min="0" max="50" [value]="marginRight" (input)="marginRight = $event.target.value" class="slider50">
      </div>
    </div>
    <p>Wielkość czcionki główna: </p>
    <input type="range" min="0" max="400" [value]="arrayFontSize[0]" (input)="arrayFontSize[0] = $event.target.value" class="slider" step="10">
    <div class="inputContainer">
      <div class="inputLeft">
        <p>Wielkość czcionki  dla kogo: </p>
        <input type="range" min="0" max="400" [value]="arrayFontSize[2]" (input)="arrayFontSize[2] = $event.target.value" class="slider50" step="10">
      </div>
      <div class="inputRight">
        <p>Wielkość czcionki  za co: </p>
        <input type="range" min="0" max="400" [value]="arrayFontSize[4]" (input)="arrayFontSize[4] = $event.target.value" class="slider50" step="10">
      </div>
    </div>
    <div class="inputContainer">
      <div class="inputLeft">
        <p>Wielkość czcionki  podpis:</p>
        <input type="range" min="0" max="400" [value]="arrayFontSize[1]" (input)="arrayFontSize[1] = $event.target.value" class="slider50" step="10">
      </div>
      <div class="inputRight">
        <p>Wielkość czcionki  stopka: </p>
        <input type="range" min="0" max="400" [value]="arrayFontSize[3]" (input)="arrayFontSize[3] = $event.target.value" class="slider50" step="10">
      </div>
    </div>
    <p>Kolor czcionki:</p>
    <input type="color" id="colorPicker" [value]="fontColor" (input)="fontColor = $event.target.value" >
    <br/>
    <button (click)="setPaddingFix()"> Zastosuj</button>
  </div>
</div>
<div id="view">
  <div id="toPdf100">
    <img src="{{imgSrcFix}}" id="imgPdf100"/>

    <div id="pdfFor" >
      <p id="pdfTxt">
        <s id="largeTxt" [style.font-size]="arrayFontSize[0] + '%'" [style.color]="arrayFontColor[0]">
          {{title}}
        </s>
        <br/>
        <br/>
        <s id="sFor" [style.font-size]="arrayFontSize[2] + '%'" [style.color]="arrayFontColor[2]">
          {{forWho}}
        </s>
        <br/>
        <s id="txtForWhat" [style.font-size]="arrayFontSize[4] + '%'" [style.color]="arrayFontColor[4]">
          <br/>
          {{forWhat}}
        </s>
      </p>
      <div class="signature" id="sign">
        <p id="left" [style.font-size]="arrayFontSize[1] + '%'" [style.color]="arrayFontColor[1]">
        {{sign1}}
        <br/>
        ................
        </p>
        <p id="right" [style.font-size]="arrayFontSize[1] + '%'" [style.color]="arrayFontColor[1]">
          {{sign2}}
          <br/>
          .......................
        </p>
        <p id="smallTxt" [style.font-size]="arrayFontSize[3] + '%'" [style.color]="arrayFontColor[3]">
          {{footer}}
        </p>
      </div>
    </div>


  </div>
</div>


