$margin: 6.66666666667%
$font1: 'Abril Fatface'
$font2: 'Aladin'
$font3: 'Allura'

#create, #view
  display: inline-block
  float: left
  min-height: 100%
  height: 100%

#view
  width: 40%
  text-align: center
  font-family: Arial
  position: fixed

#imgPdf
  position: absolute
  left: 0px
  top: 0px
  width: 50%
  height: 55%
  margin-left: 25%
  margin-right: 25%
  margin-top: 25%

#imgPdf100
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%

#toPdf100
  width: 100%
  background-color: #ffbdc6
  height: 100%
  font-weight: bold

#create
  width: 60%
  padding-top: 1%

#toPdf
  width: 50%
  background-color: red
  height: 55%
  margin-left: 25%
  margin-right: 25%
  margin-top: 25%
  font-weight: bold

#pdfFor
  margin-left: 15%
  margin-right: 15%
  padding-top: 15%
  overflow: hidden
  white-space: pre-wrap
  height: 84%
  position: relative

.bcg, .fnt
  text-align: center
  display: inline-block
  float: left
  height: 100%
  width: 19%
  margin-left: $margin
  margin-right: $margin
  border: black 1px solid
  box-shadow: 5px 5px rgba(0, 0, 15, 0.2)
  transition: 0.3s

.bcg:hover, .fnt:hover
  transform: scale(1.1,1.1)
  box-shadow: 0px 0px rgba(0, 0, 15, 0.2)

img
  width: 100%
  height: 100%

#bcg1
  background: #fff9b6
  margin-bottom: 2%

#bcg2
  background-color: #cefff5
  margin-bottom: 2%

#bcg3
  background-color: #fbdfff
  margin-bottom: 2%

#font1
  font-family: $font1

#font2
  font-family: $font2

#font3
  font-family: $font3

#bcgContainter, #txtContainter, #fontContainter, #detailsContainer
  background-color: #f1ffff
  text-align: center

#bcgContainter
  height: 30%
  padding-bottom: 5%

.scroll
  overflow-y: scroll
  height: 90%

#fontContainter
  height: 25%

#txtContainter, #detailsContainer
  padding-bottom: 5%

#font1, #font2, #font3
  height: 40%
  margin-top: 2%
  background-color: white

h1
  font-size: 200%

@media (max-width: 1200px)
  h1
    font-size: 100%
  .left, .right
    font-size: 80%
  .smallTxt
    font-size: 55%

@media (max-height: 800px)
  h1
    font-size: 100%
  .left, .right
    font-size: 80%
  .smallTxt
    font-size: 55%

.input, .input:focus
  width: 30%
  padding: 12px
  border: 1px solid #ccc
  border-radius: 10px
  resize: vertical
  transition: 0.3s
  box-shadow: 5px 5px rgba(0, 0, 15, 0.2)
  text-align: center

.input:focus
  box-shadow: 0px 0px rgba(0, 0, 15, 0.2)
  border: 1px solid #ccc

.sFor
  font-weight: bold
  font-size: 100%

s
  text-decoration: none
  font-weight: normal
  font-size: 90%

.right, .left
  width: 50%
  font-size: 150%

.left
  float: left
  text-align: left

.right
  float: right
  text-align: right

.signature
  float: bottom
  height: 25%
  width: 100%
  position: absolute
  bottom: 0%

.smallTxt
  font-weight: lighter
  font-size: 120%

.largeTxt
  font-size: 300%

.slider
  -webkit-appearance: none
  width: 60%
  height: 25px
  background: #d3d3d3
  outline: none
  opacity: 0.7
  -webkit-transition: .2s
  transition: opacity .2s
  margin-top: 1%

.slider:hover
  opacity: 1

.slider::-webkit-slider-thumb
  -webkit-appearance: none
  appearance: none
  width: 25px
  height: 25px
  background: #3aaaff
  cursor: pointer
  border-radius: 0px

.slider::-moz-range-thumb
  appearance: none
  -moz-appearance: none
  width: 25px
  height: 25px
  background: #3aaaff
  cursor: pointer
  border-radius: 0px

::-webkit-scrollbar
  width: 20px

::-webkit-scrollbar-track
  box-shadow: inset 0 0 5px grey
  border-radius: 10px


::-webkit-scrollbar-thumb
  background: red
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: #b30000
