$margin: 6.66666666667%
$font1: 'Abril Fatface'
$font2: 'Aladin'
$font3: 'Allura'

#create, #view
  display: inline-block
  float: left
  min-height: 100%
  height: 100%

#create
  max-width: 60%
  padding-top: 1%

#view, #viewFix
  width: 50%
  text-align: center
  font-family: Arial
  position: fixed
  margin: auto

#view
  width: 40%

#viewFix
  min-height: 100%
  height: 100%
  width: 50%
  margin-left: 25%
  background-color: red
  z-index: 15
  opacity: 1

#imgPdf
  position: absolute
  left: 0px
  top: 0px
  width: 50%
  height: 55%
  margin-left: 25%
  margin-right: 25%
  margin-top: 25%

#imgPdf100
  position: absolute
  left: 0px
  top: 0px
  margin-left: 15%
  width: 70%
  height: 80%
  margin-top: 10%

#toPdf100
  margin-left: 15%
  width: 70%
  height: 80%
  margin-top: 10%
  background-color: #ffbdc6
  font-weight: bold

#imgPdf100Fix, #canvasPdf100Fix
  position: absolute
  left: 0px
  top: 0px
  width: 595px
  height: 842px
  margin-left: 15%

#toPdf100Fix
  width: 595px
  height: 842px
  margin-left: 15%
  font-weight: bold

#toPdf
  width: 50%
  background-color: red
  height: 55%
  margin-left: 25%
  margin-right: 25%
  margin-top: 25%
  font-weight: bold

#pdfFor, #pdfForFix
  margin-left: 15%
  margin-right: 15%
  padding-top: 15%
  overflow: hidden
  white-space: pre-wrap
  height: 84%
  position: relative

.bcg, .fnt
  text-align: center
  display: inline-block
  float: left
  height: 100%
  width: 19%
  margin-left: $margin
  margin-right: $margin
  border: black 1px solid
  box-shadow: 5px 5px rgba(0, 0, 15, 0.2)
  transition: 0.3s

.bcg
  transform: scale(0.8,0.8)

.fnt
  transform: scale(0.8,0.8)

.bcg:hover, .fnt:hover
  transform: scale(0.99,0.99)
  box-shadow: 0px 0px rgba(0, 0, 15, 0.2)

img
  width: 100%
  height: 100%

#bcg1
  background: #fff9b6
  margin-bottom: 2%

#bcg2
  background-color: #cefff5
  margin-bottom: 2%

#bcg3
  background-color: #fbdfff
  margin-bottom: 2%

#font1
  font-family: $font1

#font2
  font-family: $font2

#font3
  font-family: $font3

#bcgContainter, #txtContainter, #fontContainter, #detailsContainer
  background-color: #f1ffff
  text-align: center

#bcgContainter
  height: 30%
  padding-bottom: 5%

.scroll
  overflow-y: scroll
  height: 90%

#fontContainter
  height: 25%

#txtContainter, #detailsContainer
  padding-bottom: 5%

#font1, #font2, #font3
  height: 40%
  margin-top: 2%
  background-color: white

h1
  font-size: 200%

@media (max-width: 1210px)
  h1
    font-size: 100%
  #sign
    font-size: 60%
  #smallTxt, #smallTxtFix
    font-size: 55%
  .inputContainer
    font-size: 70%
  .inputLeft
    display: none
  p
    font-size: 70%

@media (max-width: 1660px)
  #toPdf100
    font-size: 70%

@media (max-height: 800px)
  h1
    font-size: 100%
  #left, #right, #rightFix, #leftFix
    font-size: 80%
  #smallTxt
    font-size: 55%

.input, .input:focus
  width: 30%
  padding: 12px
  border: 1px solid #ccc
  border-radius: 10px
  resize: vertical
  transition: 0.3s
  box-shadow: 5px 5px rgba(0, 0, 15, 0.2)
  text-align: center

.input:focus
  box-shadow: 0px 0px rgba(0, 0, 15, 0.2)
  border: 1px solid #ccc

#sFor, #sForFix
  font-weight: bold
  font-size: 250%

#txtForWhat, #txtForWhatFix
  font-size: 200%

s
  text-decoration: none
  font-weight: normal

#right, #left, #leftFix, #rightFix
  width: 50%
  font-size: 120%

#leftFix, #rightFix
  font-size: 150%

#left, #leftFix
  float: left
  text-align: left

#right, #rightFix
  float: right
  text-align: right

.signature
  float: bottom
  height: 25%
  width: 100%
  position: absolute
  bottom: 0%

#smallTxt, #smallTxtFix
  font-weight: lighter
  font-size: 120%

#largeTxt, #largeTxtFix
  font-size: 300%

.slider, .slider50, input[type=color]
  -webkit-appearance: none
  width: 80%
  height: 25px
  background: #d3d3d3
  outline: none
  opacity: 0.7
  -webkit-transition: .2s
  transition: opacity .2s
  margin-top: 1%

.inputContainer
  width: 100%
  height: 90px

.inputLeft, .inputRight
  display: inline-block
  float: left
  width: 40%
  text-align: center

.inputLeft
  margin-left: 10%

.slider50
  width: 95%
  margin-left: 0px

.inputRight input
  float: right
  margin-right: 0px

.slider:hover, .slider50:hover, input[type=color]:hover
  opacity: 1

.slider::-webkit-slider-thumb, .slider50::-webkit-slider-thumb
  -webkit-appearance: none
  appearance: none
  width: 25px
  height: 25px
  background: #3aaaff
  cursor: pointer
  border-radius: 0px

.slider::-moz-range-thumb, .slider50::-moz-range-thumb
  appearance: none
  -moz-appearance: none
  width: 25px
  height: 25px
  background: #3aaaff
  cursor: pointer
  border-radius: 0px

::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-track
  box-shadow: inset 0 0 5px grey
  border-radius: 0px


::-webkit-scrollbar-thumb
  background: #3aaaff
  border-radius: 0px

::-webkit-scrollbar-thumb:hover
  background: #216c9e

button
  -webkit-transition: all .7s
  transition: all .7s
  border-radius: 0px
  border: white 1px solid
  background-color: #3aaaff
  color: white
  width: 30%
  height: 30px
  margin-top: 1%
  margin-bottom: 1%
  font-weight: bold

button:hover
  border: #3aaaff 1px solid
  background-color: white
  color: #3aaaff

#btnGeneratePdf
  position: fixed
  z-index: 5
  bottom: 0px
  margin-left: 15%
  margin-bottom: 0px
  background-color: #42cc2e

#btnGeneratePdf:hover
  border: #42cc2e 1px solid
  color:  #42cc2e
  background-color: white

#colorPicker
  width: 30%
