<div class="curtain">
  <img src="../../assets/img/macLogo2.png" /> <br/>
  <span>K</span>
  <span>R</span>
  <span>E</span>
  <span>A</span>
  <span>T</span>
  <span>O</span>
  <span>R</span>
  <span style='margin-left: 20px'></span>
  <span>D</span>
  <span>Y</span>
  <span>P</span>
  <span>L</span>
  <span>O</span>
  <span>M</span>
  <span>Ó</span>
  <span>W</span>
</div>

<div id="viewLandscapeFix" [style.display]="landscape">
  <div id="toPdf100LandscapeFix" class="" [style.background-color]="bcgColor">
    <img src="{{imgSrcFix}}" id="imgPdf100LandscapeFix"  />

    <!--<canvas width="100" height="100" style="background: url('../../assets/img/macLogo2.png'); background-size: cover; position: absolute"></canvas>-->
    <div id="pdfForLandscapeFix">
      <img id="imgToChange4" src="../../assets/img/0.png" style="background-size: cover; position: absolute; z-index: 0; "
           [style.transform]="'rotate('+rotate+'deg)'"
           [style.width]="imgWidth+'%'"
           [style.height]="imgHeight+'%'"
           [style.left]="imgLeft+'%'"
           [style.top]="imgTop+'%'"/>
      <img  src="{{imgSrcFix}}" style="background-size: cover; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0px; left: 0px"/>
      <div  style="z-index: 8;">
        <p id="pdfTxtLandscapeFix" style="z-index: 8; position: absolute; width: 100%"  [style.top]="paddingTop + '%'" >
          <s id="largeTxtLandscapeFix" [style.font-size]="arrayFontSize[0] + 'vw'" [style.color]="arrayFontColor[0]" [style.margin-left]="marginLeft[0] + '%'" [style.margin-right]="marginRight[0] + '%'" style="z-index: 8;">
            {{title}}
          </s>
          <br/>
        </p>
      </div>
      <div style="z-index: 7; position: absolute; width: 100%; top: 10%"  [style.top]="paddingTopForWho + '%'">
        <s id="sForLandscapeFix" [style.font-size]="arrayFontSize[2] + 'vw'" [style.color]="arrayFontColor[2]" style="z-index: 7"  [style.margin-left]="marginLeft[1] + '%'" [style.margin-right]="marginRight[1] + '%'">
          {{forWho}}
        </s>
      </div>
      <div  style="z-index: 7; position: absolute; width: 100%; top: 20%" [style.top]="paddingTopForWhat + '%'">
        <s id="txtForWhatLandscapeFix" [style.font-size]="arrayFontSize[4] + 'vw'"  [style.color]="arrayFontColor[4]" style="z-index: 7" [style.margin-left]="marginLeft[2] + '%'" [style.margin-right]="marginRight[2] + '%'">
          {{forWhat}}
        </s>
      </div>

      <div class="signature" id="signLandscapeFix" [style.bottom]="bottom + 'px'" [style.padding-left]="marginLeft[3] + '%'" [style.padding-right]="marginRight[3] + '%'" style="min-width:100%;" style="z-index: 7;">
        <p id="leftLandscapeFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign1}}
        </p>
        <p id="centerLandscapeFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign3}}
        </p>
        <p id="rightLandscapeFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign2}}
        </p>
        <p id="smallTxtLandscapeFix" [style.font-size]="arrayFontSize[3] + 'vw'" [style.color]="arrayFontColor[3]">
          {{footer}}
        </p>
      </div>
    </div>

  </div>
</div>


    <!--<img src="{{imgSrcFix}}" style="background-size: cover; position: absolute;  width: 100px; height: 100px" />
    <canvas id="canvasToBase64" width="100" height="100" style="background-size: cover; position: absolute; top: 120px; background:red" ></canvas>-->
    <div id="viewFix">
      <div id="toPdf100Fix" [style.background-color]="bcgColor">
        <img src="{{imgSrcFix}}" id="imgPdf100Fix" />

        <!--<canvas width="100" height="100" style="background: url('../../assets/img/macLogo2.png'); background-size: cover; position: absolute"></canvas> -->
        <div id="pdfForFix">
          <img id="imgToChange" src="../../assets/img/0.png" style="background-size: cover; position: absolute; z-index: 0;"
               [style.transform]="'rotate('+rotate+'deg)'"
               [style.width]="imgWidth+'%'"
               [style.height]="imgHeight+'%'"
               [style.left]="imgLeft+'%'"
               [style.top]="imgTop+'%'"/>
          <img  src="{{imgSrcFix}}" style="background-size: cover; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0px; left: 0px"/>
          <div  style="z-index: 8;">
            <p id="pdfTxtFix" style="z-index: 8; position: absolute; width: 100%"  [style.top]="paddingTop + '%'" >
              <s id="largeTxtFix" [style.font-size]="arrayFontSize[0] + 'vw'" [style.color]="arrayFontColor[0]" [style.margin-left]="marginLeft[0] + '%'" [style.margin-right]="marginRight[0] + '%'" style="z-index: 8;">
                {{title}}
              </s>
              <br/>
            </p>
          </div>
          <div style="z-index: 7; position: absolute; width: 100%; top: 10%"  [style.top]="paddingTopForWho + '%'">
            <s id="sForFix" [style.font-size]="arrayFontSize[2] + 'vw'" [style.color]="arrayFontColor[2]" style="z-index: 7"  [style.margin-left]="marginLeft[1] + '%'" [style.margin-right]="marginRight[1] + '%'">
              {{forWho}}
            </s>
          </div>
          <div  style="z-index: 7; position: absolute; width: 100%; top: 20%" [style.top]="paddingTopForWhat + '%'">
            <s id="txtForWhatFix" [style.font-size]="arrayFontSize[4] + 'vw'"  [style.color]="arrayFontColor[4]" style="z-index: 7" [style.margin-left]="marginLeft[2] + '%'" [style.margin-right]="marginRight[2] + '%'">
              {{forWhat}}
            </s>
          </div>

          <div class="signature" id="signFix" [style.bottom]="bottom + 'px'" [style.padding-left]="marginLeft[3] + '%'" [style.padding-right]="marginRight[3] + '%'" style="min-width:100%;" style="z-index: 7;">
            <p id="leftFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
              {{sign1}}
            </p>
            <p id="centerFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
              {{sign3}}
            </p>
            <p id="rightFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
              {{sign2}}
            </p>
            <p id="smallTxtFix" [style.font-size]="arrayFontSize[3] + 'vw'" [style.color]="arrayFontColor[3]">
              {{footer}}
            </p>
          </div>
        </div>

      </div>
    </div>
<img id="podglad" src="../../assets/img/podglad2.png" />
<div id="create" xmlns="" [style.display]="auth">
  <button id="btnGeneratePdf" (click)="generatePdf()">Generuj Dyplom!</button>
  <button id="btnAddTemplate" (click)="createArrayToSend(0)">Dodaj Szaboln!</button>
  <button id="btnLeft" class="btnStep" (click)="left(currentStep)" disabled >< Poprzedni krok</button>
  <button id="btnRight" class="btnStep" (click)="right(currentStep)">Następny krok ></button>
  <div [style.display]="bcgDisplay[2]" style="text-align: center">
    <h1 class="fadeInTop" style="font-weight: bold">Ostatni krok!</h1>
    <h1 class="fadeInTop">Dodaj swój obrazek</h1>
    <label for="file-upload" class="button fadeInLeft">
      <img src="../../assets/img/ArrowIcon.png" style="width: 29px; height: 29px"/>
      Dodaj Obrazek
    </label>
    <input id="file-upload" class="fadeInRight" type="file" (change)="onSelectFile($event)"/>
    <input type="file" (change)="onSelectFile($event)">
    <br />
    <p><b class="fadeInRight">Obrót obrazka</b></p>
    <input type="range" id="inputImgRotate" min="-360" max="360" [value]="rotate" (input)="rotate = $event.target.value" class="slider50 fadeInLeft" style="width: 80%; margin-left: 0%"> <br />
    <p><b class="fadeInRight">Szerokość obrazka</b></p>
    <input type="range" min="0" max="{{100-imgLeft}}" [value]="imgWidth" (input)="imgWidth = $event.target.value" class="slider50 fadeInLeft" style="width: 80%; margin-left: 0%" ><br />
    <p><b class="fadeInRight">Wysokość obrazka</b></p>
    <input type="range" min="0" max="{{100-imgTop}}" [value]="imgHeight" (input)="imgHeight = $event.target.value" class="slider50 fadeInLeft"  style="width: 80%; margin-left: 0%"><br />
    <p><b class="fadeInRight">Lewy margines obrazka</b></p>
    <input type="range" min="0" max="{{100-imgWidth}}" [value]="imgLeft" (input)="imgLeft = $event.target.value" class="slider50 fadeInLeft" style="width: 80%; margin-left: 0%"><br />
    <p><b class="fadeInRight">Prawy margines obrazka</b></p>
    <input type="range" min="0" max="{{100-imgHeight}}" [value]="imgTop" (input)="imgTop = $event.target.value" class="slider50 fadeInLeft" style="width: 80%; margin-left: 0%" >
    <br />
    <button class="fadeInRight" (click)="set0degress()">Zresetuj Obrót</button> <br/>
    <button class="fadeInLeft" (click)="resetImg()">Zresetuj Obrazek</button>
  </div>
  <div id="bcgContainter" [style.display]="bcgDisplay[0]">
    <h1 class="fadeInTop" style="font-weight: bold">Pierwszy krok!</h1>
    <h1 class="fadeInTop">Wybierz tło dyplomu</h1>
    <div class="scroll fadeInTop" id="scrollable">
      <div *ngFor="let tmp of bcgTemp; let i = index" class="bcg fadeInTop" id="bcg{{i + 1}}" (click)="takeBcg(i)">
        <img id="img{{i}}" src="{{tmp}}"  />
      </div>
    </div>
    <button id="leftDirect" class="btnDirect fadeInTop" (click)="moveLeft()" disabled><</button>
    <button id="rightDirect" class="btnDirect fadeInTop" (click)="moveRight()">></button> <br/>
    <h1 class="fadeInTop">Kolor tła</h1>
    <input type="color" class="fadeInTop" [value]="bcgColor" (input)="bcgColor = $event.target.value" style="width: 30%">
    <br/>
    <div>
      <img id="scheme30" class="schemeImg fadeInTop" src="../../assets/img/tmp1.png" (click)="setScheme(30)"/>
      <img id="scheme50" class="schemeImg fadeInTop" src="../../assets/img/tmp2.png" (click)="setScheme(50)"/>
    </div>
  </div>
  <div id="bcgContainter2" [style.display]="bool">
    <h1 class="fadeInTop fadeInTop">Twoje zapisane szablony</h1>
    <select id="selectTemplate" class="fadeInTop">
      <option *ngFor="let tmp of template; let i = index" value="{{i}}">{{tmp.nameOfTemplate}}</option>
    </select>
    <br/>
    <button class="fadeInTop" (click)="setUserData()">Wczytaj szablon!</button>

    <button (click)="landscapeOff()">Landscape</button>
  </div>
  <div id="txtContainter" [style.display]="bcgDisplay[1]">
    <h1 class="fadeInTop" style="font-weight: bold">Drugi krok!</h1>
    <h1 class="fadeInTop">Wpisz dane</h1>

    <div class="dataContainer">
      <div class="leftCont">
        <p><b class="fadeInLeft">Nazwa: </b></p>
        <!-- 0 -->
        <input class="input fadeInLeft" [value]="title" (input)="title = $event.target.value" placeholder="Nazwa"> <br/>
        <p class="fadeInTop" style="margin-top: 10px">Wielkość czcionki</p>
        <input type="range" min="0.1" max="9" [value]="arrayFontSize[0]" (input)="arrayFontSize[0] = $event.target.value" class="sliderInput" step="0.1" (click)="setPadding()" id="card00">
        <p class="fadeInTop" >Kolor czcionki</p>
        <input type="color" [value]="arrayFontColor[0]" (input)="arrayFontColor[0] = $event.target.value" id="card000">
        <br />
        <p class="fadeInTop" >Czcionka</p>
        <div class="fontCont">
          <div class="fnt fnt1" (click)="takeFontForEle('Abril Fatface', 0)">
            <h1>Dyplom</h1>
          </div>
          <div class="fnt fnt2" (click)="takeFontForEle('Aladin', 0)">
            <h1>Dyplom</h1>
          </div>
          <div class="fnt fnt3" (click)="takeFontForEle('Allura', 0)">
            <h1>Dyplom</h1>
          </div>
        </div>
      </div>

      <div class="rightCont">
        <div >
          <div class="card" id="card0">
            <div class="card-body">
              <div class="inputContainer">
                <div class="inputContainer">
                  <br />
                  <p class="fadeInTop" >Lewy margines</p>
                  <input type="range" min="0" max="40" [value]="marginLeft[0]" (input)="marginLeft[0] = $event.target.value" class="slider" style="width: 80%">
                  <p class="fadeInTop" >Prawy margines</p>
                  <input type="range" min="0" max="40" [value]="marginRight[0]" (input)="marginRight[0] = $event.target.value" class="slider" style="width: 80%">
                  <p class="fadeInTop" >Górny margines</p>
                  <input type="range" min="0" max="50" [value]="paddingTop" (input)="paddingTop = $event.target.value" class="slider" style="width: 80%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dataContainer">
      <div class="leftCont ">
        <p><b class="fadeInLeft">Dla kogo: </b></p>
        <!-- 2 -->
        <textarea class="input fadeInLeft" [value]="forWho" (input)="forWho = $event.target.value" placeholder="Dla kogo"> </textarea>
        <br />
        <p class="fadeInTop" style="margin-top: 10px">Wielkość czcionki</p>
        <input type="range" min="0.1" max="8" [value]="arrayFontSize[2]" (input)="arrayFontSize[2] = $event.target.value" class="sliderInput" step="0.1" (click)="setPadding()" id="card11">
        <br />
        <p class="fadeInTop">Kolor czcionki</p>
        <input type="color" [value]="arrayFontColor[2]" (input)="arrayFontColor[2] = $event.target.value" id="card111">
        <br />
        <p class="fadeInTop">Czcionka</p>
        <div class="fontCont">
          <div class="fnt fnt1" (click)="takeFontForEle('Abril Fatface', 1)">
            <h1>Dyplom</h1>
          </div>
          <div class="fnt fnt2" (click)="takeFontForEle('Aladin', 1)">
            <h1>Dyplom</h1>
          </div>
          <div class="fnt fnt3" (click)="takeFontForEle('Allura', 1)">
            <h1>Dyplom</h1>
          </div>
        </div>
      </div>
      <div class="rightCont">
        <div class="card" id="card1">
            <div class="card-body">
              <div class="inputContainer">
                <br/>
                <p class="fadeInTop" >Lewy margines</p>
                  <input type="range" min="0" max="40" [value]="marginLeft[1]" (input)="marginLeft[1] = $event.target.value" class="slider50" style="width:80%">
                <p class="fadeInTop" >Prawy margines</p>
                  <input type="range" min="0" max="40" [value]="marginRight[1]" (input)="marginRight[1] = $event.target.value" class="slider50" style="width:80%">
                <p class="fadeInTop" >Górny margines</p>
                  <input type="range" min="0" max="50" [value]="paddingTopForWho" (input)="paddingTopForWho = $event.target.value" class="slider50" style="width:80%">

              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="dataContainer">
      <div class="leftCont ">
        <p><b class="fadeInLeft">Za co:</b></p>
        <!-- 4 -->
        <textarea class="input fadeInLeft" [value]="forWhat" (input)="forWhat = $event.target.value" placeholder="Za co"> </textarea> <br/>
        <p class="fadeInTop" style="margin-top: 10px">Wielkość czcionki</p>
        <input type="range" min="0.1" max="8" [value]="arrayFontSize[4]" (input)="arrayFontSize[4] = $event.target.value" class="sliderInput" step="0.1" id="card22">
        <br />
        <p class="fadeInTop">Kolor czcionki</p>
        <input type="color" [value]="arrayFontColor[4]" (input)="arrayFontColor[4] = $event.target.value" id="card222">
        <br />
        <p class="fadeInTop">Czcionka</p>
        <div class="fontCont">
          <div class="fnt fnt1" (click)="takeFontForEle('Abril Fatface', 2)">
            <h1>Dyplom</h1>
          </div>
          <div class="fnt fnt2" (click)="takeFontForEle('Aladin', 2)">
            <h1>Dyplom</h1>
          </div>
          <div class="fnt fnt3" (click)="takeFontForEle('Allura', 2)">
            <h1>Dyplom</h1>
          </div>
        </div>
      </div>
      <div class="rightCont">
        <div class="card" id="card2">
            <div class="card-body">
              <br />
              <div class="inputContainer">
                <br/>
                <p class="fadeInTop" >Lewy margines</p>
                <input type="range" min="0" max="40" [value]="marginLeft[2]" (input)="marginLeft[2] = $event.target.value" class="slider" style="width:80%">
                <p class="fadeInTop" >Prawy margines</p>
                <input type="range" min="0" max="40" [value]="marginRight[2]" (input)="marginRight[2] = $event.target.value" class="slider"  style="width:80%">
                <p class="fadeInTop" >Górny margines</p>
                <input type="range" min="15" max="50" [value]="paddingTopForWhat" (input)="paddingTopForWhat = $event.target.value" class="slider" style="width:80%">
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="dataContainer">
      <div class="leftCont">
        <p><b class="fadeInLeft">Stopka</b></p>
        <!-- 3 -->
        <input class="input fadeInLeft" [value]="footer" (input)="footer = $event.target.value" placeholder="Stopka"> <br/>
        <p class="fadeInTop" style="margin-top: 10px">Wielkość czcionki</p>
        <input type="range" min="0" max="3" [value]="arrayFontSize[3]" (input)="arrayFontSize[3] = $event.target.value" class="sliderInput" step="0.1" id="card33">
        <br />
        <p class="fadeInTop" >Kolor czcionki</p>
        <input type="color" [value]="arrayFontColor[3]" (input)="arrayFontColor[3] = $event.target.value" id="card333" >
        <br />
        <p class="fadeInTop" >Czcionka</p>
        <div class="fontCont">
          <div class="fnt fnt1" (click)="takeFontForEle('Abril Fatface', 3)">
            <h1>Dyplom</h1>
          </div>
          <div class="fnt fnt2" (click)="takeFontForEle('Aladin', 3)">
            <h1>Dyplom</h1>
          </div>
          <div class="fnt fnt3" (click)="takeFontForEle('Allura', 3)">
            <h1>Dyplom</h1>
          </div>
        </div>

      </div>
      <div class="rightCont">
        <div class="card" id="card3">
            <div class="card-body">
              <div class="inputContainer">
                <br />
                <p class="fadeInTop">Lewy margines</p>
                <input type="range" min="0" max="40" [value]="marginLeft[3]" (input)="marginLeft[3] = $event.target.value" class="slider"  style="width: 80%">
                <br/>
                <p class="fadeInTop">Prawy margines</p>
                <input type="range" min="0" max="40" [value]="marginRight[3]" (input)="marginRight[3] = $event.target.value" class="slider"  style="width: 80%">
                <p class="fadeInTop" >Dolny margines</p>
                <input type="range" min="0" max="50" [value]="bottom" (input)="bottom = $event.target.value" class="slider"  style="width: 80%">
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="dataContainer">
      <div class="leftCont ">
        <p><b class="fadeInLeft">Podpisy:</b></p>
        <!-- 1 -->
        <textarea class="input signTxt fadeInLeft" [value]="sign1" (input)="sign1 = $event.target.value" placeholder="Podpis"> </textarea>
        <textarea class="input signTxt fadeInLeft" [value]="sign3" (input)="sign3 = $event.target.value" placeholder="Podpis"> </textarea>
        <textarea class="input signTxt fadeInLeft" [value]="sign2" (input)="sign2 = $event.target.value" placeholder="Podpis"> </textarea>
        <br />
        <p class="fadeInTop" style="margin-top: 10px">Wielkość czcionki</p>
        <input type="range" min="0" max="3" [value]="arrayFontSize[1]" (input)="arrayFontSize[1] = $event.target.value" class="sliderInput" step="0.1" id="card44">
        <br />
        <p class="fadeInTop">Kolor czcionki</p>
        <input type="color" [value]="arrayFontColor[1]" (input)="arrayFontColor[1] = $event.target.value" id="card444">
        <br />
        <p class="fadeInTop">Czcionka</p>
        <div class="fontCont">
          <div class="fnt fnt1" (click)="takeFontForEle('Abril Fatface', 4)">
            <h1>Dyplom</h1>
          </div>
          <div class="fnt fnt2" (click)="takeFontForEle('Aladin', 4)">
            <h1>Dyplom</h1>
          </div>
          <div class="fnt fnt3" (click)="takeFontForEle('Allura', 4)">
            <h1>Dyplom</h1>
          </div>
        </div>
      </div>
      <div class="rightCont">
        <div class="card" id="card4">
            <div class="card-body">
              <br />
              <div class="inputContainer">
                <p class="fadeInTop">Lewy margines</p>
                <input type="range" min="0" max="40" [value]="marginLeft[3]" (input)="marginLeft[3] = $event.target.value" class="slider"  style="width: 80%">
                <br/>
                <p class="fadeInTop">Prawy margines</p>
                <input type="range" min="0" max="40" [value]="marginRight[3]" (input)="marginRight[3] = $event.target.value" class="slider"  style="width: 80%">
                <p class="fadeInTop" >Dolny margines</p>
                <input type="range" min="0" max="50" [value]="bottom" (input)="bottom = $event.target.value" class="slider"  style="width: 80%">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <!--
<div id="detailsContainer">
<h1>Dopracuj detale</h1>
<br />
<div class="inputContainer">
  <div class="inputLeft">
    <p>Górny margines: {{paddingTop}}</p>
    <input type="range" min="0" max="50" [value]="paddingTop" (input)="paddingTop = $event.target.value" class="slider50">
  </div>
  <div class="inputRight">
    <p>Dolny margines: {{bottom}}</p>
    <input type="range" min="0" max="50" [value]="bottom" (input)="bottom = $event.target.value" class="slider50">
  </div>
</div>
<button (click)="setPaddingFix()"> Zastosuj</button>
  </div>
-->
</div>

<div id="view">
    <div id="toPdf100" class="rotateInDownRight" [style.background-color]="bcgColor">
    <img src="{{imgSrcFix}}" id="imgPdf100" />

    <!--<canvas width="100" height="100" style="background: url('../../assets/img/macLogo2.png'); background-size: cover; position: absolute"></canvas>-->
    <div id="pdfFor">
      <img id="imgToChange2" src="../../assets/img/0.png" style="background-size: cover; position: absolute; z-index: 0;"
           [style.transform]="'rotate('+rotate+'deg)'"
           [style.width]="imgWidth+'%'"
           [style.height]="imgHeight+'%'"
           [style.left]="imgLeft+'%'"
           [style.top]="imgTop+'%'"/>
      <img  src="{{imgSrcFix}}" style="background-size: cover; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0px; left: 0px"/>
      <div  style="z-index: 8;">
        <p id="pdfTxt" style="z-index: 8; position: absolute; width: 100%"  [style.top]="paddingTop + '%'" >
          <s id="largeTxt" [style.font-size]="arrayFontSize[0] + 'vw'" [style.color]="arrayFontColor[0]" [style.margin-left]="marginLeft[0] + '%'" [style.margin-right]="marginRight[0] + '%'" style="z-index: 8;">
            {{title}}
          </s>
          <br/>
        </p>
      </div>
      <div style="z-index: 7; position: absolute; width: 100%; top: 10%"  [style.top]="paddingTopForWho + '%'">
        <s id="sFor" [style.font-size]="arrayFontSize[2] + 'vw'" [style.color]="arrayFontColor[2]" style="z-index: 7"  [style.margin-left]="marginLeft[1] + '%'" [style.margin-right]="marginRight[1] + '%'">
          {{forWho}}
        </s>
      </div>
        <div  style="z-index: 7; position: absolute; width: 100%; top: 20%" [style.top]="paddingTopForWhat + '%'">
          <s id="txtForWhat" [style.font-size]="arrayFontSize[4] + 'vw'"  [style.color]="arrayFontColor[4]" style="z-index: 7" [style.margin-left]="marginLeft[2] + '%'" [style.margin-right]="marginRight[2] + '%'">
            {{forWhat}}
          </s>
        </div>

      <div class="signature" id="sign" [style.bottom]="bottom + 'px'" [style.padding-left]="marginLeft[3] + '%'" [style.padding-right]="marginRight[3] + '%'" style="min-width:100%;" style="z-index: 7;">
        <p id="left" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign1}}
        </p>
        <p id="center" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign3}}
        </p>
        <p id="right" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign2}}
        </p>
        <p id="smallTxt" [style.font-size]="arrayFontSize[3] + 'vw'" [style.color]="arrayFontColor[3]">
          {{footer}}
        </p>
      </div>
    </div>

  </div>
</div>


<div id="viewLandscape" [style.display]="landscape">
  <div id="toPdf100Landscape" class="rotateInDownRight" style="width: 94%; height: 50%; margin-left: 3%; margin-top:25%" [style.background-color]="bcgColor">
    <img src="{{imgSrcFix}}" id="imgPdf100Landscape"   style="width: 94%; height: 50%; margin-left: 3%; margin-top:25%"/>

    <!--<canvas width="100" height="100" style="background: url('../../assets/img/macLogo2.png'); background-size: cover; position: absolute"></canvas>-->
    <div id="pdfForlandscape">
      <img id="imgToChange3" src="../../assets/img/0.png" style="background-size: cover; position: absolute; z-index: 0; "
           [style.transform]="'rotate('+rotate+'deg)'"
           [style.width]="imgWidth+'%'"
           [style.height]="imgHeight+'%'"
           [style.left]="imgLeft+'%'"
           [style.top]="imgTop+'%'"/>
      <img  src="{{imgSrcFix}}" style="background-size: cover; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0px; left: 0px"/>
      <div  style="z-index: 8;">
        <p id="pdfTxtLandscape" style="z-index: 8; position: absolute; width: 100%"  [style.top]="paddingTop + '%'" >
          <s id="largeTxtLandscape" [style.font-size]="arrayFontSize[0] + 'vw'" [style.color]="arrayFontColor[0]" [style.margin-left]="marginLeft[0] + '%'" [style.margin-right]="marginRight[0] + '%'" style="z-index: 8;">
            {{title}}
          </s>
          <br/>
        </p>
      </div>
      <div style="z-index: 7; position: absolute; width: 100%; top: 10%"  [style.top]="paddingTopForWho + '%'">
        <s id="sForLandscape" [style.font-size]="arrayFontSize[2] + 'vw'" [style.color]="arrayFontColor[2]" style="z-index: 7"  [style.margin-left]="marginLeft[1] + '%'" [style.margin-right]="marginRight[1] + '%'">
          {{forWho}}
        </s>
      </div>
      <div  style="z-index: 7; position: absolute; width: 100%; top: 20%" [style.top]="paddingTopForWhat + '%'">
        <s id="txtForWhatLandscape" [style.font-size]="arrayFontSize[4] + 'vw'"  [style.color]="arrayFontColor[4]" style="z-index: 7" [style.margin-left]="marginLeft[2] + '%'" [style.margin-right]="marginRight[2] + '%'">
          {{forWhat}}
        </s>
      </div>

      <div class="signature" id="signLandscape" [style.bottom]="bottom + 'px'" [style.padding-left]="marginLeft[3] + '%'" [style.padding-right]="marginRight[3] + '%'" style="min-width:100%;" style="z-index: 7;">
        <p id="leftLandscape" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign1}}
        </p>
        <p id="centerLandscape" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign3}}
        </p>
        <p id="rightLandscape" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign2}}
        </p>
        <p id="smallTxtLandscape" [style.font-size]="arrayFontSize[3] + 'vw'" [style.color]="arrayFontColor[3]">
          {{footer}}
        </p>
      </div>
    </div>

  </div>
</div>
