<div class="curtain">
  <img src="../../assets/img/macLogo2.png" />
  <br/>
  <span>K</span><span>R</span><span>E</span><span>A</span><span>T</span><span>O</span><span>R</span>
  <span style='margin-left: 20px'></span>
  <span>D</span><span>Y</span><span>P</span><span>L</span><span>O</span><span>M</span><span>Ó</span><span>W</span>
</div>
<div id="spinner" style="z-index: 20; background-color: rgba(0,0,0, 0.7); width: 100%; height: 100%; position: fixed; padding-top: 15%; display: none">
  <mat-spinner disabled style="width: 10%; margin-left: 45%"></mat-spinner>
</div>
<div id="viewLandscapeFix">
  <div id="toPdf100LandscapeFix" class="" [style.background-color]="bcgColor">
    <img src="{{imgSrcFix}}" id="imgPdf100LandscapeFix"  />
    <div id="pdfForLandscapeFix">
      <img *ngFor="let usr of userImg; let i = index" id="imgToChange3{{usr}}" src="{{userImgBase64[i]}}" style="background-size: cover; position: absolute; z-index: 0;"
           [style.transform]="'rotate('+rotate[usr]+'deg)'"
           [style.width]="imgWidth[usr]+'%'"
           [style.height]="imgHeight[usr]+'%'"
           [style.left]="imgLeft[usr]+'%'"
           [style.top]="imgTop[usr]+'%'"/>
      <p *ngFor="let txt of userTxt; let i = index" id="font3{{i}}" style="width:100%; position: absolute; z-index: 1;"
         [style.padding-right]="txtRight[i]+'%'"
         [style.padding-left]="txtLeft[i]+'%'"
         [style.top]="txtTop[i]+'%'"
         [style.font-size]="txtSize[i] + 'vw'"
         [style.font-family]="txtFontFamili[i]"
         [style.color]="txtColor[i]">{{txt}}</p>
      <img  src="{{imgSrcFrame}}" style="background-size: cover; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0px; left: 0px"/>
      <div  style="z-index: 8;">
        <p id="pdfTxtLandscapeFix" style="z-index: 8; position: absolute; width: 100%"  [style.top]="paddingTop + '%'" >
          <s id="largeTxtLandscapeFix" [style.font-size]="arrayFontSize[0] + 'vw'" [style.color]="arrayFontColor[0]" [style.margin-left]="marginLeft[0] + '%'" [style.margin-right]="marginRight[0] + '%'" style="z-index: 8;">
            {{title}}
          </s>
          <br/>
        </p>
      </div>
      <div style="z-index: 7; position: absolute; width: 100%; top: 10%"  [style.top]="paddingTopForWho + '%'">
        <s id="sForLandscapeFix" [style.font-size]="arrayFontSize[2] + 'vw'" [style.color]="arrayFontColor[2]" style="z-index: 7"  [style.margin-left]="marginLeft[1] + '%'" [style.margin-right]="marginRight[1] + '%'">
          {{forWho}}
        </s>
      </div>
      <div  style="z-index: 7; position: absolute; width: 100%; top: 20%" [style.top]="paddingTopForWhat + '%'">
        <s id="txtForWhatLandscapeFix" [style.font-size]="arrayFontSize[4] + 'vw'"  [style.color]="arrayFontColor[4]" style="z-index: 7" [style.margin-left]="marginLeft[2] + '%'" [style.margin-right]="marginRight[2] + '%'">
          {{forWhat}}
        </s>
      </div>
      <div class="signature" id="signLandscapeFix" [style.bottom]="bottom + 'px'" [style.padding-left]="marginLeft[3] + '%'" [style.padding-right]="marginRight[3] + '%'" style="min-width:100%;" style="z-index: 7;">
        <p id="leftLandscapeFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign1}}
        </p>
        <p id="centerLandscapeFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign3}}
        </p>
        <p id="rightLandscapeFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign2}}
        </p>
        <p id="smallTxtLandscapeFix" [style.font-size]="arrayFontSize[3] + 'vw'" [style.color]="arrayFontColor[3]">
          {{footer}}
        </p>
      </div>
    </div>
  </div>
</div>
    <div id="viewFix">
      <div id="toPdf100Fix" [style.background-color]="bcgColor">
        <img src="{{imgSrcFix}}" id="imgPdf100Fix" />
        <div id="pdfForFix">
          <img *ngFor="let usr of userImg; let i = index" id="imgToChange{{usr}}" src="{{userImgBase64[i]}}" style="background-size: cover; position: absolute; z-index: 0;"
               [style.transform]="'rotate('+rotate[usr]+'deg)'"
               [style.width]="imgWidth[usr]+'%'"
               [style.height]="imgHeight[usr]+'%'"
               [style.left]="imgLeft[usr]+'%'"
               [style.top]="imgTop[usr]+'%'"
               />
          <p *ngFor="let txt of userTxt; let i = index" id="font4{{i}}" style="width:100%; position: absolute; z-index: 1;"
             [style.padding-right]="txtRight[i]+'%'"
             [style.padding-left]="txtLeft[i]+'%'"
             [style.top]="txtTop[i]+'%'"
             [style.font-family]="txtFontFamili[i]"
             [style.font-size]="txtSize[i] + 'vw'"
             [style.color]="txtColor[i]"
          >{{txt}}</p>
          <img  src="{{imgSrcFrame}}" style="background-size: cover; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0px; left: 0px"/>
          <div  style="z-index: 8;">
            <p id="pdfTxtFix" style="z-index: 8; position: absolute; width: 100%"  [style.top]="paddingTop + '%'" >
              <s id="largeTxtFix" [style.font-size]="arrayFontSize[0] + 'vw'" [style.color]="arrayFontColor[0]" [style.margin-left]="marginLeft[0] + '%'" [style.margin-right]="marginRight[0] + '%'" style="z-index: 8;">
                {{title}}
              </s>
              <br/>
            </p>
          </div>
          <div style="z-index: 7; position: absolute; width: 100%; top: 10%"  [style.top]="paddingTopForWho + '%'">
            <s id="sForFix" [style.font-size]="arrayFontSize[2] + 'vw'" [style.color]="arrayFontColor[2]" style="z-index: 7"  [style.margin-left]="marginLeft[1] + '%'" [style.margin-right]="marginRight[1] + '%'">
              {{forWho}}
            </s>
          </div>
          <div  style="z-index: 7; position: absolute; width: 100%; top: 20%" [style.top]="paddingTopForWhat + '%'">
            <s id="txtForWhatFix" [style.font-size]="arrayFontSize[4] + 'vw'"  [style.color]="arrayFontColor[4]" style="z-index: 7" [style.margin-left]="marginLeft[2] + '%'" [style.margin-right]="marginRight[2] + '%'">
              {{forWhat}}
            </s>
          </div>

          <div class="signature" id="signFix" [style.bottom]="bottom + 'px'" [style.padding-left]="marginLeft[3] + '%'" [style.padding-right]="marginRight[3] + '%'" style="min-width:100%;" style="z-index: 7;">
            <p id="leftFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
              {{sign1}}
            </p>
            <p id="centerFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
              {{sign3}}
            </p>
            <p id="rightFix" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
              {{sign2}}
            </p>
            <p id="smallTxtFix" [style.font-size]="arrayFontSize[3] + 'vw'" [style.color]="arrayFontColor[3]">
              {{footer}}
            </p>
          </div>
        </div>

      </div>
    </div>
<img id="podglad" src="../../assets/img/podglad2.png" />
<div id="create" xmlns="" [style.display]="auth">
  <div >
    <label (click)="stepper.reset()" for="fileInput" id="fileInputLabel" class="button fadeInLeft" matTooltip="Domyślnie pliki szablonów znajdują zię w folderze Pobrane/Downloads pod nazwą 'template [data]'" matTooltipPosition="above">
      <img src="../../assets/img/ArrowIcon.png" style="width: 29px; height: 29px"/>
      Wczytaj szablon
    </label>
    <input class="fadeInRight" id="fileInput" type="file" accept='.MACproject' (change)="onSelectFile($event)"/>
  </div>
  <button id="btnGeneratePdf" class="button" (click)="generatePdf()">Generuj Dyplom!</button>
  <button id="btnAddTemplate" class="button" (click)="createArrayToSend()"  matTooltip="Naciśnięcie spowoduje zapisanie stworzonego przez Ciebie szablonu! Plik zostanie zapisany w folderze Pobrane/Downloads pod nazwą 'template [data]'" matTooltipPosition="above">Zapisz szablon!</button>
  <mat-horizontal-stepper linear="false" #stepper>
    <mat-step>
      <div>
        <button matTooltip="Poprzedni krok" matTooltipPosition="right" mat-mini-fab matStepperPrevious color="primary" disabled style="opacity: 0">
          <mat-icon >navigate_before</mat-icon>
        </button>
        <button matTooltip="Następny krok" matTooltipPosition="left"  mat-mini-fab matStepperNext color="primary" style="float: right">
          <mat-icon >navigate_next</mat-icon>
        </button>
      </div>
      <ng-template matStepLabel>Pierwszy krok</ng-template>
      <div class="orientationBox" [style.display]="bcgDisplay[0]">
        <h1 class="fadeInTop">
          Wybierz orientację dyplomu
        </h1>
        <div matTooltip="Naciśnij aby wybrać orientację pozioma" matTooltipPosition="left" class="orientationImgBox fadeInTop">
          <img id="imgO1" class="imgOrientation fadeInTop" src="../../assets/img/horiyontal.png" (click)="landscapeOff(1)"/>
        </div>
        <div class="orientationImgBox">
          <img id="imgO2" matTooltip="Naciśnij aby wybrać orientację pionową" matTooltipPosition="right" class="imgOrientation fadeInTop" src="../../assets/img/horiyontal.png" (click)="landscapeOff(2)"/>
        </div>
        <br/>
        <div>
          <h1  style="margin-top: 10px" class="fadeInTop">Wybierz schemat</h1>
          <img id="scheme30" matTooltip="Naciśnij aby ustawić schamat z trzema podpisami" matTooltipPosition="left" class="schemeImg fadeInTop" src="../../assets/img/tmp1.png" (click)="setScheme(30)"/>
          <img id="scheme50" matTooltip="Naciśnij aby ustawić schamat z dwoma podpisami" matTooltipPosition="right" class="schemeImg fadeInTop" src="../../assets/img/tmp2.png" (click)="setScheme(50)"/>
        </div>
        <div>
          <h1  style="margin-top: 10px" class="fadeInTop">Wybierz Format</h1>
          <button mat-fab color="accent" class="size" style="margin-right: 10px" id="sizeA4" (click)="setFormat('A4')">A4</button>
          <button mat-fab color="accent" class="size" style="margin-left: 10px" id="sizeA5" (click)="setFormat('A5')">A5</button>
        </div>
      </div>
        <!--<mat-form-field style="width: 50%">
          <mat-select placeholder="Wybierz swój szablon" [(value)]="selected">
            <mat-option *ngFor="let tmp of template; let i = index" value="{{i}}">{{tmp.nameOfTemplate}}</mat-option>
          </mat-select>
        </mat-form-field>-->
        <br/>
        <!--<button class="fadeInTop button" (click)="setUserData()">Wczytaj szablon!</button>-->
 <!--       <button class="fadeInTop" mat-raised-button color="primary" (click)="setUserData()">Wczytaj szablon!</button>-->
    </mat-step>
    <mat-step>
      <div>
        <button  matTooltip="Poprzedni krok" matTooltipPosition="right"  mat-mini-fab matStepperPrevious color="primary">
          <mat-icon >navigate_before</mat-icon>
        </button>
        <button  matTooltip="Następny krok" matTooltipPosition="left"  mat-mini-fab matStepperNext color="primary" style="float: right">
          <mat-icon >navigate_next</mat-icon>
        </button>
      </div>
      <ng-template matStepLabel>Drugi krok</ng-template>
      <div id="bcgContainter" [style.display]="bcgDisplay[1]">
        <h1 class="fadeInTop">Wybierz tło dyplomu</h1>
        <div class="scroll fadeInTop" id="scrollable">
          <div *ngFor="let tmp of bcgTemp; let i = index" class="bcg fadeInTop" id="bcg{{i + 1}}" (click)="takeBcg(i)">
            <img id="img{{i}}" src="{{tmp}}"  />
          </div>
        </div>
        <!--<button class="button btnDirect fadeInTop" (click)="moveLeft()" disabled><</button> -->
        <button matTooltip="Poprzednie tła" matTooltipPosition="left" id="leftDirect" class="fadeInTop" mat-mini-fab (click)="moveLeft()" disabled>
          <mat-icon aria-label="prev" >arrow_back</mat-icon>
        </button>
        <button id="rightDirect"  matTooltip="Następne tła" matTooltipPosition="right" class="fadeInTop"  mat-mini-fab (click)="moveRight()">
          <mat-icon aria-label="next">arrow_forward</mat-icon>
        </button>
        <!-- <button class="button btnDirect fadeInTop" (click)="moveRight()">></button> <br/>-->
        <br />
        <button mat-raised-button color="primary" class="fadeInRight" (click)="resetBcg()" style="margin-bottom: 15px; margin-top: 15px">Usuń tło</button>
        <br/>
        <h1 style="margin-top: 10px" class="fadeInTop">Kolor tła</h1>
        <input type="color" matTooltip="Naciśnij i wybierz kolor tła" matTooltipPosition="below" class="fadeInTop" [value]="bcgColor" (input)="bcgColor = $event.target.value" style="width: 30%">
      </div>
    </mat-step>
    <mat-step>
      <div>
        <button  matTooltip="Poprzedni krok" matTooltipPosition="right" mat-mini-fab matStepperPrevious color="primary">
          <mat-icon >navigate_before</mat-icon>
        </button>
        <button  matTooltip="Następny krok" matTooltipPosition="left" mat-mini-fab matStepperNext color="primary" style="float: right">
          <mat-icon >navigate_next</mat-icon>
        </button>
      </div>
      <ng-template matStepLabel>Trzeci krok</ng-template>
      <div id="frameContainter" [style.display]="bcgDisplay[1]">
        <h1 class="fadeInTop">Wybierz tło dyplomu</h1>
        <div class="scroll fadeInTop">
          <div *ngFor="let frame of frames; let i = index" class="bcg fadeInTop" id="frmBox{{i + 1}}" (click)="takeFrame(i)">
            <img id="frm{{i}}" src="{{frame}}"  />
          </div>
        </div>
        <!--<button class="button btnDirect fadeInTop" (click)="moveLeft()" disabled><</button> -->
        <button matTooltip="Poprzednie ramki" matTooltipPosition="left" id="leftDirectFrame" class="fadeInTop" mat-mini-fab (click)="moveLeftFrame()" disabled>
          <mat-icon aria-label="prev" >arrow_back</mat-icon>
        </button>
        <button id="rightDirectFrame"  matTooltip="Następne ramki" matTooltipPosition="right" class="fadeInTop"  mat-mini-fab (click)="moveRightFrame()">
          <mat-icon aria-label="next">arrow_forward</mat-icon>
        </button><br/>
        <button mat-raised-button color="primary" class="fadeInRight" (click)="resetFrame()" style="margin-bottom: 15px; margin-top: 15px">Usuń ramkę</button>
        <!-- <button class="button btnDirect fadeInTop" (click)="moveRight()">></button> <br/>-->
      </div>
    </mat-step>
    <mat-step>
      <div>
        <button  matTooltip="Poprzedni krok" matTooltipPosition="right" mat-mini-fab matStepperPrevious color="primary">
          <mat-icon >navigate_before</mat-icon>
        </button>
        <button  matTooltip="Następny krok" matTooltipPosition="left" mat-mini-fab matStepperNext color="primary" style="float: right">
          <mat-icon >navigate_next</mat-icon>
        </button>
      </div>
      <ng-template matStepLabel>Czwarty krok</ng-template>
      <div id="txtContainter">
      <h1 class="fadeInTop">Wpisz dane</h1>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tytuł
            </mat-panel-title>
            <mat-panel-description>
              Ustaw właściwości pola 'Tytuł'
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="dataContainer" style="height: 320px">
            <div class="leftCont">
              <!--<p><b class="fadeInLeft">Nazwa: </b></p>
               0
              <input class="input fadeInLeft" [value]="title" (input)="title = $event.target.value" placeholder="Nazwa">-->
              <mat-form-field class="example-full-width fadeInLeft">
                <input matInput placeholder="Tytuł" [value]="title" (input)="title = $event.target.value">
              </mat-form-field>
              <p class="fadeInTop" style="margin-top: 10px">Wielkość czcionki</p>
              <!--<input type="range" min="0.1" max="9" [value]="arrayFontSize[0]" (input)="arrayFontSize[0] = $event.target.value" class="sliderInput" step="0.1" (click)="setPadding()" id="card00">-->
              <mat-slider thumbLabel class="fadeInTop"  min="0" max="9" [(value)]="arrayFontSize[0]" class="example-full-width" step="0.01" tickInterval="0.01"></mat-slider>
              <p class="fadeInTop" >Kolor czcionki</p>
              <input type="color" [value]="arrayFontColor[0]" (input)="arrayFontColor[0] = $event.target.value" id="card000">
              <br />
              <p class="fadeInTop" >Czcionka</p>
              <div class="fontCont">
                <div class="fnt fnt1 fadeInTop" (click)="takeFontForEle('Abril Fatface', 0)">
                  <h1>Dyplom</h1>
                </div>
                <div class="fnt fnt2 fadeInTop" (click)="takeFontForEle('Aladin', 0)">
                  <h1>Dyplom</h1>
                </div>
                <div class="fnt fnt3 fadeInTop" (click)="takeFontForEle('Allura', 0)">
                  <h1>Dyplom</h1>
                </div>
              </div>
            </div>
            <div class="rightCont">
              <div >
                <div class="card" id="card0">
                  <div class="card-body">
                    <div class="inputContainer">
                      <div class="inputContainer">
                        <!--
                        <br />
                        <p class="fadeInTop" >Lewy margines</p>
                        <input type="range" min="0" max="40" [value]="marginLeft[0]" (input)="marginLeft[0] = $event.target.value" class="slider" style="width: 80%">
                        <p class="fadeInTop" >Prawy margines</p>
                        <input type="range" min="0" max="40" [value]="marginRight[0]" (input)="marginRight[0] = $event.target.value" class="slider" style="width: 80%">
                        <p class="fadeInTop" >Górny margines</p>
                        <input type="range" min="0" max="50" [value]="paddingTop" (input)="paddingTop = $event.target.value" class="slider" style="width: 80%">
                        -->
                        <p class="fadeInTop">Lewy margines</p>
                        <mat-slider thumbLabel  min="0" max="40" [(value)]="marginLeft[0]" class="example-full-width"></mat-slider>
                        <br/>
                        <p class="fadeInTop">Prawy margines</p>
                        <mat-slider thumbLabel  min="0" max="40" [(value)]="marginRight[0] " class="example-full-width"></mat-slider>
                        <p class="fadeInTop" >Górny margines</p>
                        <mat-slider thumbLabel  min="0" max="50" [(value)]="paddingTop" class="example-full-width"></mat-slider>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dla kogo?
            </mat-panel-title>
            <mat-panel-description>
              Ustaw właściwości pola 'Dla kogo?'
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="dataContainer"  style="height: 350px">
            <div class="leftCont ">
              <!--<p><b class="fadeInLeft">Dla kogo: </b></p>
             2
             <textarea class="input fadeInLeft textarea" > </textarea> -->
              <mat-form-field class="example-full-width fadeInLeft">
                <textarea matInput [value]="forWho" (input)="forWho = $event.target.value" placeholder="Dla kogo"></textarea>
              </mat-form-field>
              <p class="fadeInTop" style="margin-top: 10px">Wielkość czcionki</p>
              <!--<input type="range" min="0.1" max="8" [value]="arrayFontSize[2]" (input)="arrayFontSize[2] = $event.target.value" class="sliderInput" step="0.1" (click)="setPadding()" id="card11">
              <br />-->
              <mat-slider thumbLabel class="fadeInLeft"  min="0" max="8" [(value)]="arrayFontSize[2]" class="example-full-width" step="0.01" tickInterval="0.01"></mat-slider>
              <p class="fadeInTop">Kolor czcionki</p>
              <input type="color" [value]="arrayFontColor[2]" (input)="arrayFontColor[2] = $event.target.value" id="card111">
              <br />
              <p class="fadeInTop">Czcionka</p>
              <div class="fontCont">
                <div class="fnt fnt1 fadeInTop" (click)="takeFontForEle('Abril Fatface', 1)">
                  <h1>Dyplom</h1>
                </div>
                <div class="fnt fnt2 fadeInTop" (click)="takeFontForEle('Aladin', 1)">
                  <h1>Dyplom</h1>
                </div>
                <div class="fnt fnt3 fadeInTop" (click)="takeFontForEle('Allura', 1)">
                  <h1>Dyplom</h1>
                </div>
              </div>
            </div>
            <div class="rightCont">
              <div class="card" id="card1">
                <div class="card-body">
                  <div class="inputContainer">
                    <!--
                    <br/>
                    <p class="fadeInTop" >Lewy margines</p>
                      <input type="range" min="0" max="40" [value]="marginLeft[1]" (input)="marginLeft[1] = $event.target.value" class="slider50" style="width:80%">
                    <p class="fadeInTop" >Prawy margines</p>
                      <input type="range" min="0" max="40" [value]="marginRight[1]" (input)="marginRight[1] = $event.target.value" class="slider50" style="width:80%">
                    <p class="fadeInTop" >Górny margines</p>
                      <input type="range" min="0" max="50" [value]="paddingTopForWho" (input)="paddingTopForWho = $event.target.value" class="slider50" style="width:80%">
                    -->
                    <p class="fadeInTop">Lewy margines</p>
                    <mat-slider thumbLabel  min="0" max="40" [(value)]="marginLeft[1]" class="example-full-width"></mat-slider>
                    <br/>
                    <p class="fadeInTop">Prawy margines</p>
                    <mat-slider thumbLabel  min="0" max="40" [(value)]="marginRight[1] " class="example-full-width"></mat-slider>
                    <p class="fadeInTop" >Górny margines</p>
                    <mat-slider thumbLabel  min="0" max="50" [(value)]="paddingTopForWho" class="example-full-width"></mat-slider>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Za co?
            </mat-panel-title>
            <mat-panel-description>
              Ustaw właściwości pola 'Za co?'
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="dataContainer" style="height: 350px">
            <div class="leftCont ">
              <!-- <p><b class="fadeInLeft">Za co:</b></p>
               4
              <textarea class="input fadeInLeft textarea" > </textarea> <br/>-->
              <mat-form-field class="example-full-width">
                <textarea matInput [value]="forWhat" (input)="forWhat = $event.target.value" placeholder="Za co"></textarea>
              </mat-form-field>
              <p class="fadeInTop" style="margin-top: 10px">Wielkość czcionki</p>
              <!--<input type="range" min="0.1" max="8" [value]="arrayFontSize[4]" (input)="arrayFontSize[4] = $event.target.value" class="sliderInput" step="0.1" id="card22">
              <br />-->
              <mat-slider thumbLabel class="fadeInLeft"  min="0" max="8" [(value)]="arrayFontSize[4]" class="example-full-width" step="0.01" tickInterval="0.01"></mat-slider>
              <p class="fadeInTop">Kolor czcionki</p>
              <input type="color" [value]="arrayFontColor[4]" (input)="arrayFontColor[4] = $event.target.value" id="card222">
              <br />
              <p class="fadeInTop">Czcionka</p>
              <div class="fontCont">
                <div class="fnt fnt1 fadeInTop" (click)="takeFontForEle('Abril Fatface', 2)">
                  <h1>Dyplom</h1>
                </div>
                <div class="fnt fnt2 fadeInTop" (click)="takeFontForEle('Aladin', 2)">
                  <h1>Dyplom</h1>
                </div>
                <div class="fnt fnt3 fadeInTop" (click)="takeFontForEle('Allura', 2)">
                  <h1>Dyplom</h1>
                </div>
              </div>
            </div>
            <div class="rightCont">
              <div class="card" id="card2">
                <div class="card-body">
                  <br />
                  <div class="inputContainer">
                    <!--
                    <br/>
                    <p class="fadeInTop" >Lewy margines</p>
                    <input type="range" min="0" max="40" [value]="marginLeft[2]" (input)="marginLeft[2] = $event.target.value" class="slider" style="width:80%">
                    <p class="fadeInTop" >Prawy margines</p>
                    <input type="range" min="0" max="40" [value]="marginRight[2]" (input)="marginRight[2] = $event.target.value" class="slider"  style="width:80%">
                    <p class="fadeInTop" >Górny margines</p>
                    <input type="range" min="15" max="50" [value]="paddingTopForWhat" (input)="paddingTopForWhat = $event.target.value" class="slider" style="width:80%">
                    -->
                    <p class="fadeInTop">Lewy margines</p>
                    <mat-slider thumbLabel  min="0" max="40" [(value)]="marginLeft[2]" class="example-full-width"></mat-slider>
                    <br/>
                    <p class="fadeInTop">Prawy margines</p>
                    <mat-slider thumbLabel  min="0" max="40" [(value)]="marginRight[2] " class="example-full-width"></mat-slider>
                    <p class="fadeInTop" >Górny margines</p>
                    <mat-slider thumbLabel  min="0" max="50" [(value)]="paddingTopForWhat" class="example-full-width"></mat-slider>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Podpisy
            </mat-panel-title>
            <mat-panel-description>
              Ustaw właściwości pola 'Podpisy'
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="dataContainer" style="height: 500px">
            <div class="leftCont ">
              <!--<p><b class="fadeInLeft">Podpisy:</b></p>
               1
              <textarea class="input signTxt fadeInLeft textarea" [value]="sign1" (input)="sign1 = $event.target.value" placeholder="Podpis"> </textarea>
              <textarea class="input signTxt fadeInLeft textarea" [value]="sign3" (input)="sign3 = $event.target.value" placeholder="Podpis"> </textarea>
              <textarea class="input signTxt fadeInLeft textarea" [value]="sign2" (input)="sign2 = $event.target.value" placeholder="Podpis"> </textarea>
              <br /> -->
              <form class="example-form">
                <mat-form-field class="example-full-width fadeInLeft">
                  <textarea matInput [value]="sign1" (input)="sign1 = $event.target.value" placeholder="Podpis"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width fadeInLeft" id="sign3">
                  <textarea matInput [value]="sign3" (input)="sign3 = $event.target.value" placeholder="Podpis"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width fadeInLeft">
                  <textarea matInput [value]="sign2" (input)="sign2 = $event.target.value" placeholder="Podpis"></textarea>
                </mat-form-field>
              </form>
              <p class="fadeInTop" style="margin-top: 10px">Wielkość czcionki</p>
              <!--<input type="range" min="0" max="3" [value]="arrayFontSize[1]" (input)="arrayFontSize[1] = $event.target.value" class="sliderInput" step="0.1" id="card44">-->
              <mat-slider thumbLabel class="fadeInLeft"  min="0" max="3" [(value)]="arrayFontSize[1]" class="example-full-width" step="0.01" tickInterval="0.01"></mat-slider>
              <p class="fadeInTop">Kolor czcionki</p>
              <input type="color" [value]="arrayFontColor[1]" (input)="arrayFontColor[1] = $event.target.value" id="card444">
              <br />
              <p class="fadeInTop">Czcionka</p>
              <div class="fontCont">
                <div class="fnt fnt1 fadeInTop" (click)="takeFontForEle('Abril Fatface', 4)">
                  <h1>Dyplom</h1>
                </div>
                <div class="fnt fnt2 fadeInTop" (click)="takeFontForEle('Aladin', 4)">
                  <h1>Dyplom</h1>
                </div>
                <div class="fnt fnt3 fadeInTop" (click)="takeFontForEle('Allura', 4)">
                  <h1>Dyplom</h1>
                </div>
              </div>
            </div>
            <div class="rightCont">
              <div class="card" id="card4">
                <div class="card-body">
                  <br />
                  <div class="inputContainer">
                    <p class="fadeInTop">Lewy margines</p>
                    <!--<input type="range" min="0" max="40" [value]="marginLeft[3]" (input)="marginLeft[3] = $event.target.value" class="slider"  style="width: 80%">-->
                    <mat-slider thumbLabel  min="0" max="40" [(value)]="marginLeft[3]" class="example-full-width"></mat-slider>
                    <br/>
                    <p class="fadeInTop">Prawy margines</p>
                    <!--<input type="range" min="0" max="40" [value]="marginRight[3]" (input)="marginRight[3] = $event.target.value" class="slider"  style="width: 80%">-->
                    <mat-slider thumbLabel  min="0" max="40" [(value)]="marginRight[3]" class="example-full-width"></mat-slider>
                    <p class="fadeInTop" >Dolny margines</p>
                    <!--<input type="range" min="0" max="50" [value]="bottom" (input)="bottom = $event.target.value" class="slider"  style="width: 80%">-->
                    <mat-slider thumbLabel  min="0" max="120" [(value)]="bottom" class="example-full-width"></mat-slider>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Stopka
            </mat-panel-title>
            <mat-panel-description>
              Ustaw właściwości pola 'Stopka'
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="dataContainer" style="height: 320px">
            <div class="leftCont">
              <!--  <p><b class="fadeInLeft">Stopka</b></p>
              3
              <input class="input fadeInLeft" > <br/>-->
              <mat-form-field class="example-full-width fadeInLeft">
                <input matInput [value]="footer" (input)="footer = $event.target.value" placeholder="Stopka">
              </mat-form-field>
              <p class="fadeInTop" style="margin-top: 10px">Wielkość czcionki</p>
              <!--<input type="range" min="0" max="3" [value]="arrayFontSize[3]" (input)="arrayFontSize[3] = $event.target.value" class="sliderInput" step="0.1" id="card33">
              <br /> -->
              <mat-slider thumbLabel class="fadeInLeft"  min="0" max="3" [(value)]="arrayFontSize[3]" class="example-full-width" step="0.01" tickInterval="0.01"></mat-slider>
              <p class="fadeInTop" >Kolor czcionki</p>
              <input type="color" [value]="arrayFontColor[3]" (input)="arrayFontColor[3] = $event.target.value" id="card333" >
              <br />
              <p class="fadeInTop" >Czcionka</p>
              <div class="fontCont">
                <div class="fnt fnt1 fadeInTop" (click)="takeFontForEle('Abril Fatface', 3)">
                  <h1>Dyplom</h1>
                </div>
                <div class="fnt fnt2 fadeInTop" (click)="takeFontForEle('Aladin', 3)">
                  <h1>Dyplom</h1>
                </div>
                <div class="fnt fnt3 fadeInTop" (click)="takeFontForEle('Allura', 3)">
                  <h1>Dyplom</h1>
                </div>
              </div>

            </div>
            <div class="rightCont">
              <div class="card" id="card3">
                <div class="card-body">
                  <div class="inputContainer"><!--
                <br />
                <p class="fadeInTop">Lewy margines</p>
                <input type="range" min="0" max="40" [value]="marginLeft[3]" (input)="marginLeft[3] = $event.target.value" class="slider"  style="width: 80%">
                <br/>
                <p class="fadeInTop">Prawy margines</p>
                <input type="range" min="0" max="40" [value]="marginRight[3]" (input)="marginRight[3] = $event.target.value" class="slider"  style="width: 80%">
                <p class="fadeInTop" >Dolny margines</p>
                <input type="range" min="0" max="50" [value]="bottom" (input)="bottom = $event.target.value" class="slider"  style="width: 80%">
-->
                    <p class="fadeInTop">Lewy margines</p>
                    <mat-slider thumbLabel  min="0" max="40" [(value)]="marginLeft[3]" class="example-full-width"></mat-slider>
                    <br/>
                    <p class="fadeInTop">Prawy margines</p>
                    <mat-slider thumbLabel  min="0" max="40" [(value)]="marginRight[3] " class="example-full-width"></mat-slider>
                    <p class="fadeInTop" >Dolny margines</p>
                    <mat-slider thumbLabel  min="0" max="120" [(value)]="bottom" class="example-full-width"></mat-slider>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
      </div>
    </mat-step>
    <mat-step>
      <div>
        <button  matTooltip="Poprzedni krok" matTooltipPosition="right"  mat-mini-fab matStepperPrevious color="primary">
          <mat-icon >navigate_before</mat-icon>
        </button>
        <button  matTooltip="Następny krok" matTooltipPosition="left"  mat-mini-fab matStepperNext color="primary" style="float: right">
          <mat-icon >navigate_next</mat-icon>
        </button>
      </div>
      <ng-template matStepLabel>Piąty krok</ng-template>
      <div class="userTxtFields">
        <h1 class="fadeInTop">Dodaj dodatkowe pola tekstowe</h1>
        <button (click)="addTxt()"  mat-raised-button color="primary" matTooltip="Naciśniecie spowoduje dodanie nowego pola tekstowego, które może zostać dowolnie edytowane!" matTooltipPosition="left">Dodaj nowe pole tekstowe</button> <br />
        <div id="hiddenBox" style="display: none; min-width: 100%; width: 100%">
          <mat-select class="fadeInLeft" placeholder="Wybierz aktualnie edytowany tekst" [(value)]="currentTxt" style="width: 50%; margin-top: 15px" >
            <mat-option  *ngFor="let txt of userTxt; let i = index" value="{{i}}">Edytuj: {{txt}}</mat-option>
          </mat-select> <br/><br />
          <mat-form-field class="example-full-width fadeInRight">
            <textarea matInput [value]="userTxt[currentTxt]" (input)="userTxt[currentTxt] = $event.target.value" placeholder="Podpis"></textarea>
          </mat-form-field>
          <mat-select class="fadeInLeft" placeholder="Wybierz czcionkę" [(value)]="currentFontFamili" style="width: 50%; margin-top: 15px" >
            <mat-option  *ngFor="let fntFamili of arraySelectFontFamili; let i = index" value="{{i}}" (click)="setFontFamili(i)">{{fntFamili}}</mat-option>
          </mat-select> <br/><br />
          <p class="fadeInLeft">Wielkość tekstu</p>
          <mat-slider thumbLabel type="range" min="0" max="4" step="0.1" [(value)]="txtSize[currentTxt]" class="example-full-width fadeInRight"></mat-slider>
          <br />
          <p class="fadeInLeft" >Kolor czcionki</p>
          <input type="color" class="fadeInRight" [value]="txtColor[currentTxt]" (input)="txtColor[currentTxt] = $event.target.value" >
          <br />
          <p class="fadeInLeft">Górny margines tekstu</p>
          <mat-slider thumbLabel min="0" max="100" [(value)]="txtTop[currentTxt]" class="example-full-width fadeInRight"></mat-slider>
          <br />
          <p class="fadeInLeft">Prawy margines tekstu</p>
          <mat-slider thumbLabel min="0" max="100" [(value)]="txtLeft[currentTxt]" class="example-full-width fadeInRight"></mat-slider>
          <br />
          <p class="fadeInLeft">Lewy margines tekstu</p>
          <mat-slider thumbLabel min="0" max="100" [(value)]="txtRight[currentTxt]" class="example-full-width fadeInRight"></mat-slider>
          <br />
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div>
        <button  matTooltip="Poprzedni krok" matTooltipPosition="right" mat-mini-fab matStepperPrevious color="primary">
          <mat-icon >navigate_before</mat-icon>
        </button>
      </div>
      <ng-template matStepLabel>Ostatni krok</ng-template>
      <div [style.display]="bcgDisplay[3]" style="text-align: center">
        <h1 class="fadeInTop">Dodaj swój obrazek</h1>
        <label for="file-upload" class="button fadeInLeft">
          <img src="../../assets/img/ArrowIcon.png" style="width: 29px; height: 29px"/>
          Dodaj Obrazek
        </label>
        <input id="file-upload" class="fadeInRight" type="file" accept="image/*" (change)="fileUpload($event)"/>
        <br />
        <p><b class="fadeInRight">Obrót obrazka</b></p>
        <input type="range" id="inputImgRotate" min="-360" max="360" [value]="rotate[currImg]" (input)="rotate[currImg] = $event.target.value" class="slider50 fadeInLeft" style="width: 80%; margin-left: 0%" step="45"> <br />
        <p><b class="fadeInRight">Szerokość obrazka</b></p>
        <input type="range" min="0" max="{{100-imgLeft[currImg]}}" [value]="imgWidth[currImg]" (input)="imgWidth[currImg] = $event.target.value" class="slider50 fadeInLeft" style="width: 80%; margin-left: 0%" ><br />
        <p><b class="fadeInRight">Wysokość obrazka</b></p>
        <input type="range" min="0" max="{{100-imgTop[currImg]}}" [value]="imgHeight[currImg]" (input)="imgHeight[currImg] = $event.target.value" class="slider50 fadeInLeft"  style="width: 80%; margin-left: 0%"><br />
        <p><b class="fadeInRight">Lewy margines obrazka</b></p>
        <input type="range" min="0" max="{{100-imgWidth[currImg]}}" [value]="imgLeft[currImg]" (input)="imgLeft[currImg] = $event.target.value" class="slider50 fadeInLeft" style="width: 80%; margin-left: 0%"><br />
        <p><b class="fadeInRight">Górny margines obrazka</b></p>
        <input type="range" min="0" max="{{100-imgHeight[currImg]}}" [value]="imgTop[currImg]" (input)="imgTop[currImg] = $event.target.value" class="slider50 fadeInLeft" style="width: 80%; margin-left: 0%" >
        <br />
        <button mat-raised-button color="primary" class="fadeInRight" (click)="set0degress()" style="margin-bottom: 15px">Zresetuj obrót</button> <br/>
        <button mat-raised-button color="primary" class="fadeInLeft" (click)="resetImg()">Zresetuj obrazek</button> <br /><br />
        <mat-select placeholder="Wybierz aktualnie edytowany obraz" [(value)]="currImg" style="width: 50%" >
          <mat-option  *ngFor="let x of userImg;" value="{{x}}">Obrazek nr. {{x + 1}}</mat-option>
        </mat-select> <br/><br />
        <button id="rmvImg" mat-raised-button color="warn" class="fadeInLeft" (click)="removeImg()" disabled>Usuń obrazek</button> <br /><br />
        <button (click)="addTxt()"  mat-raised-button color="primary" >Dodaj nowe pole tekstowe</button> <br />
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <br />
  <br />
</div>
<div id="view">
    <div id="toPdf100" class="rotateInDownRight" [style.background-color]="bcgColor">
    <img src="{{imgSrcFix}}" id="imgPdf100" />

    <!--<canvas width="100" height="100" style="background: url('../../assets/img/macLogo2.png'); background-size: cover; position: absolute"></canvas>-->
    <div id="pdfFor">
      <img *ngFor="let usr of userImg; let i = index" id="imgToChange2{{usr}}" src="{{userImgBase64[i]}}" style="background-size: cover; position: absolute; z-index: 0;"
           [style.transform]="'rotate('+rotate[usr]+'deg)'"
           [style.width]="imgWidth[usr]+'%'"
           [style.height]="imgHeight[usr]+'%'"
           [style.left]="imgLeft[usr]+'%'"
           [style.top]="imgTop[usr]+'%'"/>
      <p *ngFor="let txt of userTxt; let i = index" id="font1{{i}}" style="width:100%; position: absolute; z-index: 1;"
         [style.padding-right]="txtRight[i]+'%'"
         [style.padding-left]="txtLeft[i]+'%'"
         [style.top]="txtTop[i]+'%'"
        [style.font-size]="txtSize[i] + 'vw'"
         [style.font-family]="txtFontFamili[i]"
        [style.color]="txtColor[i]">{{txt}}</p>
      <img  src="{{imgSrcFrame}}" style="background-size: cover; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0px; left: 0px"/>
      <div  style="z-index: 8;">
        <p id="pdfTxt" style="z-index: 8; position: absolute; width: 100%"  [style.top]="paddingTop + '%'" >
          <s id="largeTxt" [style.font-size]="arrayFontSize[0] + 'vw'" [style.color]="arrayFontColor[0]" [style.margin-left]="marginLeft[0] + '%'" [style.margin-right]="marginRight[0] + '%'" style="z-index: 8;">
            {{title}}
          </s>
          <br/>
        </p>
      </div>
      <div style="z-index: 7; position: absolute; width: 100%; top: 10%"  [style.top]="paddingTopForWho + '%'">
        <s id="sFor" [style.font-size]="arrayFontSize[2] + 'vw'" [style.color]="arrayFontColor[2]" style="z-index: 7"  [style.margin-left]="marginLeft[1] + '%'" [style.margin-right]="marginRight[1] + '%'">
          {{forWho}}
        </s>
      </div>
        <div  style="z-index: 7; position: absolute; width: 100%; top: 20%" [style.top]="paddingTopForWhat + '%'">
          <s id="txtForWhat" [style.font-size]="arrayFontSize[4] + 'vw'"  [style.color]="arrayFontColor[4]" style="z-index: 7" [style.margin-left]="marginLeft[2] + '%'" [style.margin-right]="marginRight[2] + '%'">
            {{forWhat}}
          </s>
        </div>

      <div class="signature" id="sign" [style.bottom]="bottom + 'px'" [style.padding-left]="marginLeft[3] + '%'" [style.padding-right]="marginRight[3] + '%'" style="min-width:100%;" style="z-index: 7;">
        <p id="left" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign1}}
        </p>
        <p id="center" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign3}}
        </p>
        <p id="right" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign2}}
        </p>
        <p id="smallTxt" [style.font-size]="arrayFontSize[3] + 'vw'" [style.color]="arrayFontColor[3]">
          {{footer}}
        </p>
      </div>
    </div>
  </div>
</div>
<div id="viewLandscape" [style.display]="landscape">
  <div id="toPdf100Landscape" class="rotateInDownRight" style="width: 94%; height: 50%; margin-left: 3%; margin-top:25%" [style.background-color]="bcgColor">
    <img src="{{imgSrcFix}}" id="imgPdf100Landscape"   style="width: 94%; height: 50%; margin-left: 3%; margin-top:25%"/>
     <div id="pdfForlandscape">
      <img *ngFor="let usr of userImg; let i = index" id="imgToChange4{{usr}}" src="{{userImgBase64[i]}}" style="background-size: cover; position: absolute; z-index: 0;"
           [style.transform]="'rotate('+rotate[usr]+'deg)'"
           [style.width]="imgWidth[usr]+'%'"
           [style.height]="imgHeight[usr]+'%'"
           [style.left]="imgLeft[usr]+'%'"
           [style.top]="imgTop[usr]+'%'"/>
       <p *ngFor="let txt of userTxt; let i = index" id="font2{{i}}" style="width:100%; position: absolute; z-index: 1;"
          [style.padding-right]="txtRight[i]+'%'"
          [style.padding-left]="txtLeft[i]+'%'"
          [style.top]="txtTop[i]+'%'"
          [style.font-size]="txtSize[i] + 'vw'"
          [style.font-family]="txtFontFamili[i]"
          [style.color]="txtColor[i]">{{txt}}</p>
       <img  src="{{imgSrcFrame}}" style="background-size: cover; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0px; left: 0px"/>
      <div  style="z-index: 8;">
        <p id="pdfTxtLandscape" style="z-index: 8; position: absolute; width: 100%"  [style.top]="paddingTop + '%'" >
          <s id="largeTxtLandscape" [style.font-size]="arrayFontSize[0] + 'vw'" [style.color]="arrayFontColor[0]" [style.margin-left]="marginLeft[0] + '%'" [style.margin-right]="marginRight[0] + '%'" style="z-index: 8;">
            {{title}}
          </s>
          <br/>
        </p>
      </div>
      <div style="z-index: 7; position: absolute; width: 100%; top: 10%"  [style.top]="paddingTopForWho + '%'">
        <s id="sForLandscape" [style.font-size]="arrayFontSize[2] + 'vw'" [style.color]="arrayFontColor[2]" style="z-index: 7"  [style.margin-left]="marginLeft[1] + '%'" [style.margin-right]="marginRight[1] + '%'">
          {{forWho}}
        </s>
      </div>
      <div  style="z-index: 7; position: absolute; width: 100%; top: 20%" [style.top]="paddingTopForWhat + '%'">
        <s id="txtForWhatLandscape" [style.font-size]="arrayFontSize[4] + 'vw'"  [style.color]="arrayFontColor[4]" style="z-index: 7" [style.margin-left]="marginLeft[2] + '%'" [style.margin-right]="marginRight[2] + '%'">
          {{forWhat}}
        </s>
      </div>
      <div class="signature" id="signLandscape" [style.bottom]="bottom + 'px'" [style.padding-left]="marginLeft[3] + '%'" [style.padding-right]="marginRight[3] + '%'" style="min-width:100%;" style="z-index: 7;">
        <p id="leftLandscape" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign1}}
        </p>
        <p id="centerLandscape" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign3}}
        </p>
        <p id="rightLandscape" [style.font-size]="arrayFontSize[1] + 'vw'" [style.color]="arrayFontColor[1]">
          {{sign2}}
        </p>
        <p id="smallTxtLandscape" [style.font-size]="arrayFontSize[3] + 'vw'" [style.color]="arrayFontColor[3]">
          {{footer}}
        </p>
      </div>
    </div>
  </div>
</div>
