<div [style.display]="auth">
  <div class="setType" id="setType" [style.display]="setTypeDisplay">
    <img src="../../assets/img/macLogo2.png" style="width: 5%"/> <br/>
    <span>K</span><span>R</span><span>E</span><span>A</span><span>T</span><span>O</span><span>R</span>
    <span style='margin-left: 20px'></span>
    <span>D</span><span>Y</span><span>P</span><span>L</span><span>O</span><span>M</span><span>Ó</span><span>W</span>
    <h1 class="fadeInTop">Wybierz co Cię interesuje</h1>
    <br/>
    <div class="setTypeBox fadeInTop" id="setTypeBoxLeft">
      <img src="../../assets/img/type/type_blank.png" (click)="setType(true, false)"/>
      <p>Pusty projekt<br>
        <s></s></p>
    </div>
    <div class="setTypeBox fadeInTop" id="setTypeBoxRight">
      <img src="../../assets/img/type/type_template.png" (click)="setType(false, true)"/>
      <p>Gotowe szablony</p>
    </div>
  </div>
</div>
<app-create *ngIf="disp"></app-create>
<app-template-type *ngIf="templateTypeDisplay"></app-template-type>

<div id="err" [style.display]="err">
  <a href="https://www.mac.pl/">
  <button mat-fab style="background-color: #ff8913">
    <i class="material-icons" style="color: #25408f">error_outline</i>
  </button>
  </a>
  <br/>
  <br/>
  <p >Przepraszamy, ale strona nie może zostać załadowana!
    <br/>
    Pamiętaj, aby najpierw zalogować sie na swoje konto Mac.pl.
  </p>
</div>

