$MACblue: #25408f
$MACorange: #ff8913
$basicFont: 'Open Sans', sans-serif

#err
  min-width: 100%
  min-height: 100vh
  width: 100%
  height: 100vh
  background-color: $MACblue
  padding-top: 16%
  text-align: center
  color: $MACorange
  font-weight: bold
  font-family: $basicFont
  font-size: 3vh
  text-shadow: 0px 1px 3px #293346

.setType
  color: white
  max-width: 100%
  width: 100%
  min-height: 100%
  background-color: $MACblue
  position: fixed
  z-index: 20
  transition: .6s
  text-align: center

.setType
  .setTypeBox
    display: inline-block
    width: 50%
    float: left
    img
      filter: grayscale(80%)
      width: 50%
      transform: scale(0.8, 0.8)
      transition: .6s
      cursor: pointer
    img:hover
      filter: grayscale(0%)
      transform: scale(0.9, 0.9)
  #setTypeBoxLeft
    padding-left: 20%
  #setTypeBoxRight
    padding-right: 20%
  h1
    text-align: center

.fadeInLeft,
.fadeInTop,
.fadeInRight
  animation-name: fadeInLeft
  animation-duration: .6s
  animation-iteration-count: 1
  animation-timing-function: linear
  animation-fill-mode: forwards

.fadeInTop
  animation-name: fadeInTop

.fadeInRight
  animation-name: show

@keyframes fadeInLeft
  0%
    margin-left: -50%
    opacity: 0
  100%
    margin-left: 0%
    opacity: 1

@keyframes fadeInTop
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes show
  0%
    margin-left: 5%
    opacity: 0
  100%
    margin-left: 0%
    opacity: 1

.setType
  span
    display: inline-block
    animation-fill-mode: backwards
    animation-iteration-count: infinite
    animation-duration: 10s
    animation-name: logoSpan
    font-family: $basicFont
    font-size: 6vh
    font-weight: bolder
    padding-bottom: 3%

@keyframes logoSpan
  0%
    color: white
  5%
    color: $MACorange
  15%
    color: white
  100%
    color: white

@for $i from 1 through 18
  .setType span:nth-child(#{$i})
    animation-delay: $i * 0.10s
