<div class="curtain">
  <img src="../../assets/img/macLogo2.png"/>
  <br/>
  <span>K</span><span>R</span><span>E</span><span>A</span><span>T</span><span>O</span><span>R</span>
  <span style='margin-left: 20px'></span>
  <span>D</span><span>Y</span><span>P</span><span>L</span><span>O</span><span>M</span><span>Ó</span><span>W</span>
</div>
<div [style.display]="auth">
  <div class="setType" id="setType" [style.display]="setTypeDisplay">
    <img id="setTypeLogo" src="../../assets/img/macLogo2.png"/>
    <h1 class="fadeInTop">{{appComponentStrings.appComponentHello}}</h1>
    <br/>
    <div class="setTypeBox" id="setTypeBoxLeft">
      <img src="../../assets/img/type/type_blank.png" (click)="setType(true, false)"/>
      <p style="font-size: 150%">{{appComponentStrings.appComponentButton11}} <br/>{{appComponentStrings.appComponentButton12}}<br>
        <s></s></p>
    </div>
    <div class="setTypeBox" id="setTypeBoxRight">
      <img src="../../assets/img/type/type_template.png" (click)="setType(false, true)"/>
      <p style="font-size: 150%">{{appComponentStrings.appComponentButton21}} <br/>{{appComponentStrings.appComponentButton22}}</p>
    </div>
    <img src="../../assets/img/macLogo2.png" style="width: 5%; opacity: 0"/>
  </div>
</div>
<app-create *ngIf="disp"></app-create>
<app-template-type *ngIf="templateTypeDisplay"></app-template-type>

<div id="err" [style.display]="err">
  <a href="https://www.mac.pl/">
  <button mat-fab style="background-color: #ff8913">
    <i class="material-icons" style="color: #25408f">error_outline</i>
  </button>
  </a>
  <br/>
  <br/>
  <p >{{appComponentStrings.appComponnentError1}}
    <br/>
    {{appComponentStrings.appComponnentError2}}
  </p>
</div>

