@import "~@angular/material/prebuilt-themes/indigo-pink.css"
$backgroundColor: #f7f4f8

body, html
  padding: 0px
  margin: 0px
  min-height: 100%
  background-color: $backgroundColor
  font-family: 'Open Sans', sans-serif
  overflow-x: hidden

body::-webkit-scrollbar
  width: 10px

body::-webkit-scrollbar-track
  box-shadow: inset 0 0 5px grey
  border-radius: 0px


body::-webkit-scrollbar-thumb
  background: #3aaaff
  border-radius: 0px

body::-webkit-scrollbar-thumb:hover
  background: #216c9e

.mat-horizontal-stepper-header-container
  position: fixed !important
  top: 8vh
  width: 50%
  min-width: 50%
  background-color: #f2f2f2
  transition: all linear 0.3s
  margin-left: 5%
  z-index: 19

button
  transition: .3s !important
